.mobile_menu {
	background-color: $primary;
	height: 100vh;
	width: 100%;
	z-index: 555;
	position: fixed;
	top: -100vh;
	transition: 1s;
	display: none;
	@media (max-width: $bpL) {
		display: block;
	}

	

	&__wrapper {
		// height: 100%;
		margin-top: 40px;
		// background-color: yellow;
	}

	&__button_wrapper {
		display: flex;
		flex-direction: column;
	}

	&__item_wrapper {
		width: 100%;
		height: 100%;
		// background-color: red;
		display: flex;
		flex-direction: column;
		a {
			text-align: center;
			// background-color: grey;
			color: white;
			font-size: 24px;
		}
	}
}


.mobile_menu_button {
	// width: 100%;
	z-index: 655;
	position: fixed;
	bottom: 20px;
	left: 50%;
	transform: translate(-50%,-50%);
	background-color: white;
	width: 80px;
	height: 80px;
	border-radius: 100%;
	box-shadow: 0 8px 10px 0 rgba(0, 0, 0, .1);
	display: none;
	@media (max-width: $bpL) {
		display: block;
	}

	&--hide {
		// // display: none;
		// transform: translateY(300px);
		// transition: transform $duration $timing;
	}
}


