<div class="section_inovation background-primary">
    <div class="row">
        <div class="column large-6">
            <div class="section_inovation__left_wrapper ">
            <h2 class="h1 section_inovation__headline">
                Innovation, Individualität, Infrastruktur 
            </h2>
            <h3 class="h2 section_inovation__subline">
                - das Setting für moderne Quartiers- und Büroplanung
            </h3>
                <p>
                    „Der neue Standort in der Hanauer Landstraße bietet unseren derzeit mehr als 500 Mitarbeiterinnen und Mitarbeitern in Frankfurt innovative, wandelbare Büroflächen in optimaler Lage mit sehr guter Infrastruktur. Mit zuversichtlichem Blick in die Zukunft haben wir uns für Flächen entschieden, die wir bei Bedarf ebenfalls erweitern können. Sie werden den gestiegenen Anforderungen an die Arbeitsumgebung, die aus unserem sich stetig weiterentwickelnden Leistungsspektrum entstehen, auch in Zukunft gerecht. Auch für unsere Kunden und Besucher verbessern sich sowohl das Raumangebot als auch unsere Erreichbarkeit durch die Innenstadtnähe und die sehr gute Anbindung an den öffentlichen Nahverkehr. Unsere Entscheidung ist ein klares Bekenntnis zu den positiven Wachstumsperspektiven in der Stadt Frankfurt und der Region Rhein-Main“, so Marc Schömbs, Partner der Drees & Sommer SE
                </p>
                <p class="section_inovation__subtext color-secondary">
                    Marc Schömbs, Bildmitte.
                </p>
                <p class="section_inovation__subtext_2 color-secondary">
                    Partner der Drees & Sommer SE
                </p>
            </div>
        </div>
        <div class="column large-6">
            <img loading="lazy" src="../assets/images/inovation_desktop.jpg" alt="image">
        </div>
    </div>
</div>
