<div class="section_highlights">
    <div class="section_highlights__wrapper">
        <div class="section_highlights__left_box">
            <!-- <img src="{{ params.background_image.src }}" alt=""> -->
        </div>

        <div class="section_highlights__right_box">
            <h3 class="h3">
                HIGHLIGHTS 
            </h3>
            <div class="section_highlights__right_wrapper">
                <ul>
                    <li>freistehendes Haus mit top Adressbildung
                    </li>
                    <li>großzügiger Quartiersplatz vor dem Gebäude
                    </li>
                    <li>zeitloses Design
                    </li>
                    <li>modernste Technik
                    </li>
                    <li>privater Garten im Innenhof
                    </li>
                    <li>Dachterrasse mit Skylineblick
                    </li>
                    <li>250 m zum U-Bahnhof
                    </li>
                    <li>DGNB zertifiziert 
                    </li>
                </ul>
                <p>(Gesellschaft für nachhaltiges Bauen)</p>
            </div>
        </div>

    </div>
</div>