<div class="section_highlights">
    <div class="section_highlights__wrapper">
        <div class="section_highlights__left_box">
            <img src="{{ params.background_image.src }}" alt="">
        </div>

        <div class="section_highlights__right_box">
            <div class="section_highlights__right_wrapper">
                <ul>
                    <li>freistehendes Haus mit top Adressbildung
                    </li>
                    <li>freistehendes Haus mit top Adressbildung
                    </li>
                    <li>freistehendes Haus mit top Adressbildung
                    </li>
                    <li>freistehendes Haus mit top Adressbildung
                    </li>
                    <li>freistehendes Haus mit top Adressbildung
                    </li>
                    <li>freistehendes Haus mit top Adressbildung
                    </li>
                    <li>freistehendes Haus mit top Adressbildung
                    </li>
                    <li>freistehendes Haus mit top Adressbildung
                    </li>
                </ul>
            </div>
        </div>

    </div>
</div>