# Temporary files
.DS_Store
.AppleDouble
.LSOverride
.idea/
Icon\r\r

# External disk files
.Spotlight-V100
.Trashes

# AFP share files
.AppleDB
.AppleDesktop
.apdisk
Network Trash Folder
Temporary Items

# Package Managers
npm-debug.log
node_modules

# Compiled-assets
src/assets/compiled-assets/main.css
src/assets/compiled-assets/main.js
src/assets/compiled-assets/vendor.css
src/assets/compiled-assets/vendor.js

# Dist folder
dist
_site

src/assets/compiled-assets/main.css
