.section_listenansicht {
    display: flex;

    &__buttons {
        display: flex;
        flex-direction: column;
    } 

    &__content {
        display:none;
        padding: 60px;
        // display: flex;
        background-color: white;
        width: 100%;
        box-shadow: 0px 0px 30px #00000029;
        @media (max-width: $bpM) {
           flex-direction: column;
          }
    }

    &__items_left {
        width: 50%;
        @media (max-width: $bpM) {
            width: 100%;
          }
    }

    &__items_right {
        width: 50%;
        @media (max-width: $bpM) {
            width: 100%;
          }
    }

    &__item {
        font: $fontStackMatterRegular;
        font-size: 18px;
        line-height: 32px;
        // padding-bottom: 18px;
        a {
            position: relative;
            &::before {
                position: absolute;
                right: -24px;
                top: 0;
                background-image: url('/assets/images/icons/icons8-up.svg');
                background-repeat: no-repeat;
                background-size: 17px 17px;
                margin-top: 4px;
                height: 17px;
                width: 17px;
                display: inline-block;
                content: ' ';
                // margin-right: 10px;
            }
        }
    }

    &__button {
        // box-shadow: inset -3em 0 3em -3em black;
        display: inline-flex;
        justify-content: center;
        vertical-align: middle;
        all: unset;
        width: 240px;
        // height: 65px;
        font: $fontStackMatterMedium;
        font-size: 18px;
        line-height: 32px;
        padding: .77em 2em;
        background-color: $gray-color-light;
        outline: none;
        cursor: pointer;
        color: $primary;
        border-bottom: 1px solid white;
        transition: 0.3s;

        &:before {
            background-image: url('/assets/images/icons/map/Tankstelle.svg');
            background-repeat: no-repeat;
            background-size: 17px 17px;
            margin-top: 6px;
            height: 17px;
            width: 17px;
            display: inline-block;
            content: ' ';
            margin-right: 10px;
        }

        &:hover {
            background-color: $primary;
            color: white;
        }

        &.active{
            background-color: $primary;
            color: white;
        }
    }

    &__button:nth-child(1) {
        &:before {
            background-image: url('/assets/images/icons/map/icons_dark/Restaurants.svg');
        }
        
        &.active{
            &:before {
                background-image: url('/assets/images/icons/map/Restaurants.svg');
            }
        }
        &:hover {
            &:before {
                background-image: url('/assets/images/icons/map/Restaurants.svg');
            }
        }
    }

    &__button:nth-child(2) {
        &:before {
            background-image: url('/assets/images/icons/map/icons_dark/Bar-Café.svg');
        }
        
        &.active{
            &:before {
                background-image: url('/assets/images/icons/map/Bar-Café.svg');
            }
        }
        &:hover {
            &:before {
                background-image: url('/assets/images/icons/map/Bar-Café.svg');
            }
        }
    }

    &__button:nth-child(3) {
        &:before {
            background-image: url('/assets/images/icons/map/icons_dark/Hotels.svg');
        }
        
        &.active{
            &:before {
                background-image: url('/assets/images/icons/map/Hotels.svg');
            }
        }
        &:hover {
            &:before {
                background-image: url('/assets/images/icons/map/Hotels.svg');
            }
        }
    }

    &__button:nth-child(4) {
        &:before {
            background-image: url('/assets/images/icons/map/icons_dark/Fitness_list.svg');
        }
        
        &.active{
            &:before {
                background-image: url('/assets/images/icons/map/Fitness_list.svg');
            }
        }
        &:hover {
            &:before {
                background-image: url('/assets/images/icons/map/Fitness_list.svg');
            }
        }
    }

    &__button:nth-child(5) {


        &:before {
            background-image: url('/assets/images/icons/map/icons_dark/Kita.svg');
        }
        
        &.active{
            &:before {
                background-image: url('/assets/images/icons/map/Kita.svg');
            }
        }
        &:hover {
            &:before {
                background-image: url('/assets/images/icons/map/Kita.svg');
            }
        }
    }

    &__button:nth-child(6) {

        &:before {
            background-image: url('/assets/images/icons/map/icons_dark/Retail.svg');
        }
        
        &.active{
            &:before {
                background-image: url('/assets/images/icons/map/Retail.svg');
            }
        }
        &:hover {
            &:before {
                background-image: url('/assets/images/icons/map/Retail.svg');
            }
        }
    }

    &__button:nth-child(7) {


        &:before {
            background-image: url('/assets/images/icons/map/icons_dark/Banken.svg');
        }
        
        &.active{
            &:before {
                background-image: url('/assets/images/icons/map/Banken.svg');
            }
        }
        &:hover {
            &:before {
                background-image: url('/assets/images/icons/map/Banken.svg');
            }
        }
    }

    &__button:nth-child(8) {

        &:before {
            background-image: url('/assets/images/icons/map/icons_dark/Parks_list.svg');
        }
        
        &.active{
            &:before {
                background-image: url('/assets/images/icons/map/Parks_list.svg');
            }
        }
        &:hover {
            &:before {
                background-image: url('/assets/images/icons/map/Parks_list.svg');
            }
        }
    }

    &__button:nth-child(9) {

        &:before {
            background-image: url('/assets/images/icons/map/icons_dark/Kultur_list.svg');
        }
        
        &.active{
            &:before {
                background-image: url('/assets/images/icons/map/Kultur_list.svg');
            }
        }
        &:hover {
            &:before {
                background-image: url('/assets/images/icons/map/Kultur_list.svg');
            }
        }
    }

    &__button:nth-child(10) {

        &:before {
            background-image: url('/assets/images/icons/map/icons_dark/Tankstelle.svg');
        }
        
        &.active{
            &:before {
                background-image: url('/assets/images/icons/map/Tankstelle.svg');
            }
        }
        &:hover {
            &:before {
                background-image: url('/assets/images/icons/map/Tankstelle.svg');
            }
        }
    }
}


