.section_kontakt {
    height: 100%;
    background-color: $gray-color-light;
    @media (max-width: $bpL) {
        // background-color: green;
    }

    &__intro {
        // padding: 80px 40px;
        
        // h5 {
        //     color: $border-color;
        // }
    }

    &__outro {
        display: block;
        @media (max-width: $bpM) {
            display: none;
        }
    }

    &__outro_mobile {
        padding-top: 60px;
        display: none;
        @media (max-width: $bpM) {
            display: block;
        }
    }

    &__ansprache {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        // height: 785px;
        height: 100%;
        max-width: 384px;
    }

    &__kontakt_1,
    &__kontakt_2 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 160px;
        background-color: $primary;
        min-height: 595px;
        padding: 26px;
        padding-bottom: 65px;
        img {
            width: 100%;
        }
        @media (max-width: $bpXS) {
            display: none;
        }
    }

    &__kontakt_1_mobile,
    &__kontakt_2_mobile {
        display: none;
        flex-direction: row;
        background-color: $primary;
        padding: 36px;
        height: 170px;
        img {
            margin-bottom: 0;
            width: 100%;
        }
        @media (max-width: $bpXS) {
            display: flex;
        }
    }

    &__kontakt_2_mobile {
        background-color: $secondary;
    }

    &__kontakt_2 {
        background-color: $secondary;
        margin-top: 80px;
    }

    &__kontakt_1_content,
    &__kontakt_2_content{
        color: white;
        padding-top: 30px;
        padding-bottom: 90px;
        p {
            font: $fontStackMatterSemiBold;
            letter-spacing: 0.24px;
            margin-bottom: 8px;
        }
        a {
            color: white;
            border-bottom: white 2px solid;
            padding-bottom: 3px;
            &:hover {
                text-decoration: none;
            }
        }
    }

    .special-column {
        @media (max-width: $bpXS) {
            padding-left: 0;
            padding-right: 0;
        }
    }

    &__kontakt_1_content_mobile,
    &__kontakt_2_content_mobile{
        color: white;
        padding-left: 10px;
        padding-top: 8px;
        p {
            font: $fontStackMatterSemiBold;
            letter-spacing: 0.24px;
            margin-bottom: 8px;
        }
        a {
            color: white;
            border-bottom: white 2px solid;
            padding-bottom: 3px;
            &:hover {
                text-decoration: none;
            }
        }
    }

}