.section_impressum {
    background-color: $primary;
    margin-top: 80px;
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 25px;
    padding-right: 25px;
    @media (max-width: $bpXS) {
        padding-left: 5px;
        padding-right: 5px;
    }
    @media (max-width: $bpM) {
        padding-top: 0;
        margin-top: 40px;
    }
    .section_impressum__semibold {
        font: $fontStackMatterSemiBold;
        font-size: 18px;
        line-height: 28px;
        letter-spacing: 0.27px;
    }
    .section_impressum__semibold_h2 {
        font: $fontStackMatterSemiBold;
        font-size: 24px;
        line-height: 28px;
        letter-spacing: 0.12px;
        padding-bottom: 30px;
    }
    p {
        font-size: 18px;
        line-height: 28px;
        letter-spacing: 0.27px;
        padding-bottom: 25px;
    }
    a {
        color: white;
        text-decoration: underline;
    }

    ol {
        padding: 0;
        li {
            margin: 0 0 26px;
            font-size: 18px;
            line-height: 28px;
            color: white;
            letter-spacing: 0;
            list-style-position: inside;
            padding: 0;
            // margin: 0;
        }
    }

    &__content {
        padding-top: 180px;
        @media (max-width: $bpM) {
            padding-top: 100px;
        }
    }
    &__left_wrapper {
        height: 100%;
        display: flex;
        flex-direction: column;
        // justify-content: space-between;
    }
    &__scroll_link_datenschutz {
        position: sticky;
        top: 250px;
        font-size: 20px;
        a {
            text-decoration: none;
        }
        svg {
            margin-right: 20px;
            fill: white;
        }
    }
}
.section_datenschutz {
    padding-top: 100px;
    padding-bottom: 80px;
    color: black;
    padding-left: 25px;
    padding-right: 25px;
    @media (max-width: $bpXS) {
        padding-left: 5px;
        padding-right: 5px;
    }
    @media (max-width: $bpM) {
        padding-top: 40px;
    }

    .section_datenschutz__semibold {
        font: $fontStackMatterSemiBold;
        font-size: 18px;
        line-height: 28px;
        letter-spacing: 0.27px;
    }
    .section_datenschutz__semibold_h2 {
        font: $fontStackMatterSemiBold;
        font-size: 24px;
        line-height: 28px;
        letter-spacing: 0.12px;
        padding-bottom: 30px;
    }
    p {
        color: black;
        font-size: 18px;
        line-height: 28px;
        letter-spacing: 0.27px;
        padding-bottom: 25px;
    }
    a {
        color: black;
        text-decoration: underline;
    }

    ol {
        padding: 0;
        li {
            margin: 0 0 26px;
            font-size: 18px;
            line-height: 28px;
            color: black;
            letter-spacing: 0;
            list-style-position: inside;
            padding: 0;
            // margin: 0;
        }
    }
    &__content {
        padding-top: 100px;
        padding-bottom: 60px;
    }
    &__left_wrapper {
        height: 100%;
        display: flex;
        flex-direction: column;
        // justify-content: space-between;
    }
    &__scroll_link_impressum {
        position: sticky;
        top: 250px;
        font-size: 20px;
        a {
            text-decoration: none;
        }
        svg {
            margin-right: 20px;
        }
    }
}
