.section_erreichbarkeit {
    min-height: 720px;
    width: 100%;
    // background-color: red;
   
    .column {
        padding-left: 0!important;
        padding-right: 0!important;
    }
    .h2, .h4, p {
        @media (max-width: $bpM) {
            padding-left: 30px;
            padding-right: 30px;
        }
    }


    &__image {
        
        position: relative;
        transform: translateX(-10%);
        @media (max-width: $bpM) {
            width: 70%;
            margin-left: auto;
            margin-right: auto;
            transform: translateX(-8%);
            // transform: translateY(60px);
            margin-top: 60px;
            // padding-left: 30px;
            // padding-right: 30px;
        }

        img {
            width: 100%;
        }

        &::after {
            position: absolute;
            content: "";
            top: 45px;
            left: 38px;
            background-color: $gray-color-light;
            height: 100%;
            width: 100%;
            z-index: -1;
        }
    }

}