.section_facts_erreichbarkeit {
    min-height: 320px;
    width: 100%;
    
    .column {
        padding-left: 0!important;
        padding-right: 0!important;
    }
    img {
        // padding-left: 140px;
        display: block;
        margin-left: auto;
        margin-right: auto
    }
}