.section_highlights {
  &__wrapper {
      display: flex;
  }

  &__left_box {
      width: 50%;
      img {
          width: 100%;
          margin-bottom: 0;
      }
  }

  &__right_box {
      background-color: $gray-color-light;
      width: 50%;
  }
}