.section_impressum {
    padding-top: 80px;
    padding-bottom: 80px;
    @media (max-width: $bpM) {
		padding-top: 0;
	}
    a {
        color: white;
        text-decoration: underline;
    }
    &__content {
        padding-top: 180px;
        @media (max-width: $bpM) {
            padding-top: 100px;
        }
    }
    &__left_wrapper {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &__scroll_link_datenschutz {
        font-size: 20px;
        a {
            text-decoration: none;
        }
        svg {
            margin-right: 20px;
            fill: white;
        }
    }
}
.section_datenschutz {
    padding-top: 100px;
    padding-bottom: 80px;
    @media (max-width: $bpM) {
		padding-top: 40px;
	}
    a {
        color: black;
        text-decoration: underline;
    }
    &__content {
        padding-top: 100px;
    }
    &__left_wrapper {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &__scroll_link_impressum {
        font-size: 20px;
        a {
            text-decoration: none;
        }
        svg {
            margin-right: 20px;
        }
    }
}