.section_hero_lage {
  display: block;
  @media (max-width: $bpM) {
    display: none;
  }
  @media (max-width: $bpXS) {
    display: none;
  }
  img {
    width: 100%;
    margin-bottom: 0;
  }
}

.section_hero_lage_tablet {
  display: none;
  @media (max-width: $bpM) {
    display: block;
  }
  @media (max-width: $bpXS) {
    display: none;
  }
  img {
    width: 100%;
    margin-bottom: 0;
  }
}

.section_hero_lage_mobile {
  display: none;
  @media (max-width: $bpXS) {
    display: block;
  }
  img {
    width: 100%;
    margin-bottom: 0;
  }
}
