.section_grundrisse {
    height: 800px;
    width: 100%;
    background-color: $gray-color-light;
    .column {
        padding-left: 0!important;
        padding-right: 0!important;
    }


    .carousel {
        background: $gray-color-light;
    }
    
    .carousel-cell {
        width: 100%;
        height: 300px;
        margin-right: 0;
        /* center images in cells with flexbox */
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .carousel.is-fullscreen .carousel-cell {
        height: 100%;
    }
    
    .carousel-cell-image {
        display: block;
        max-height: 100%;
    }
    .flickity-page-dots .dot {
        position: relative;
        background: #333;
        border-radius: 0;
        cursor: pointer;
        display: inline-block;
        height: 10px;
        margin: 0 0;
        opacity: .25;
        width: 10px;
    }


    /* position dots in carousel */
    .flickity-page-dots {
        bottom: -100px;
    }
    /* white circles */
    .flickity-page-dots .dot {
        width: 200px;
        height: 55px;
        opacity: 1;
        background: white;
    }
    /* fill-in selected dot */
    .flickity-page-dots .dot.is-selected {
        background: $primary;
        color: white;
    }

    .dot {
        z-index: 610;
        &::before {
            position: absolute;
            top: 50%;  /* position the top  edge of the element at the middle of the parent */
            left: 50%; /* position the left edge of the element at the middle of the parent */
            transform: translate(-50%, -50%);
        }
    }

    .dot:nth-child(1) {
        &::before {
            content: 'EG';
        }
    }
    .dot:nth-child(2) {
        &::before {
            content: 'UG';
        }
    }
    .dot:nth-child(3) {
        &::before {
            content: '1. OG';
        }
    }
    .dot:nth-child(4) {
        &::before {
            content: '2. – 6. OG';
        }
    }
    .dot:nth-child(5) {
        &::before {
            content: 'Schnitt';
        }
    }



   
}
.flickity-prev-next-button {
    display: none;
}

 .flickity-button+.flickity-fullscreen-button {
    background: hsla(0,0%,100%,.75);
    border: none;
    color: #333;
    position: absolute;
}

.flickity-button-icon {
    // display: none;
    // height: 100%;
    // position: absolute;
    // top: 50%;  /* position the top  edge of the element at the middle of the parent */
    // left: 50%; /* position the left edge of the element at the middle of the parent */
    // transform: translate(-50%, -50%);
    // width: 100%;
    // &::before {
    //     position: absolute;
    //     content: '';
    //     background-image: url('../assets/images/icons/fullscreen-button.svg');
    //     background-size: 50px 50px;
    //     height: 50px;
    //     width: 50px;
    //     z-index: 650;
    //     // top: 50%;  /* position the top  edge of the element at the middle of the parent */
    //     // left: 50%; /* position the left edge of the element at the middle of the parent */
    //     // transform: translate(-50%, -50%);
    // }
}

.flickity-fullscreen-button .flickity-button-icon {
    height: 50px;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 50px;
    color: $primary;
    // background-color: white;
    opacity: 1;
    z-index: 655;
}

.flickity-fullscreen-button {
    // position: relative;
    opacity: .01;
    border-radius: 4px;
    height: 100%;
    width: 100%;
    top: 0;
    &:hover {
        opacity: .7;
    }
}

.flickity-enabled.is-fullscreen {
    background: $gray-color-light;
    height: 100%;
    left: 0;
    padding-bottom: 35px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 600;
}