.section_anbindung {
    &__wrapper_left {
        padding-top: 80px;
        p {
            margin-top: 27px;
            margin-bottom: 0;
            max-width: 384px;
        }
        .h2 {
            font-size: 38px;
            line-height: 42px;
            letter-spacing: -0.57px;
            margin-bottom: 0;
        }
    }
}