.section_listenansicht_mobile {
    // display: flex;
    display: none;
    @media (max-width: $bpS) {
        display: block;
    }

///////////custom selct ///////////////
/* The container must be positioned relative: */
.custom-select {
    position: relative;
    width: 100%;
    font: $fontStackMatterMedium;
    font-size: 16px;
  }
  
  .custom-select select {
    display: none; /*hide original SELECT element: */
  }
  
  .select-selected {
    background-color: $primary;
  }
  
  /* Style the arrow inside the select element: */
  .select-selected:after {
    position: absolute;
    content: "";
    top: 24px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
  }
  
  /* Point the arrow upwards when the select box is open (active): */
  .select-selected.select-arrow-active:after {
    // border-color: transparent transparent #fff transparent;
    top: 18px;
  }
  
  /* style the items (options), including the selected item: */
  .select-items div,.select-selected {
    color: black;
    padding: 18px 65px;
    border-bottom: 1px solid transparent;
    border-color: white;
    cursor: pointer;
  }

  .select-selected {
    color: white;
  }
  
  /* Style items (options): */
  .select-items {
    position: absolute;
    background-color: $gray-color-light;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
  }

  .select-items div {
      position: relative;
    &:before {
        content: '';
        position: absolute;
        left: 30px;
        top: 19px;
        background-image: url('/assets/images/icons/map/icons_dark/Restaurant.svg');
        background-repeat: no-repeat;
        height: 20px;
        width: 20px;
    }
  }

  .select-items div:nth-child(1) {
    &:before {
        background-image: url('/assets/images/icons/map/icons_dark/Restaurant.svg');
    }
  }
  .select-items div:nth-child(2) {
    &:before {
        background-image: url('/assets/images/icons/map/icons_dark/Bar-Café.svg');
    }
  }
  .select-items div:nth-child(3) {
    &:before {
        background-image: url('/assets/images/icons/map/icons_dark/Hotels.svg');
    }
  }
  .select-items div:nth-child(4) {
    &:before {
        background-image: url('/assets/images/icons/map/icons_dark/Fitness_list.svg');
    }
  }
  .select-items div:nth-child(5) {
    &:before {
        background-image: url('/assets/images/icons/map/icons_dark/Kita.svg');
    }
  }
  .select-items div:nth-child(6) {
    &:before {
        background-image: url('/assets/images/icons/map/icons_dark/Retail.svg');
    }
  }
  .select-items div:nth-child(7) {
    &:before {
        background-image: url('/assets/images/icons/map/icons_dark/Banken.svg');
    }
  }
  .select-items div:nth-child(8) {
    &:before {
        background-image: url('/assets/images/icons/map/icons_dark/Parks_list.svg');
    }
  }
  .select-items div:nth-child(9) {
    &:before {
        background-image: url('/assets/images/icons/map/icons_dark/Kultur_list.svg');
    }
  }
  .select-items div:nth-child(10) {
    &:before {
        background-image: url('/assets/images/icons/map/icons_dark/Tankstelle.svg');
    }
  }

  .select-selected {
    &:before {
        content: '';
        position: absolute;
        left: 30px;
        top: 19px;
        background-image: url('/assets/images/icons/map/Restaurants.svg');
        background-repeat: no-repeat;
        height: 20px;
        width: 20px;
    }
  }

  .select-selected.Restaurants {
    &:before {
      background-image: url('/assets/images/icons/map/Restaurants.svg');
    }
  }

  .select-selected.Bar\/Cafe {
    &:before {
        background-image: url('/assets/images/icons/map/Bar-Café.svg');
    }
  }

  .select-selected.Hotels {
    &:before {
        background-image: url('/assets/images/icons/map/Hotels.svg');
    }
  }

  .select-selected.Fitness {
    &:before {
        background-image: url('/assets/images/icons/map/Fitness_list.svg');
    }
  }

  .select-selected.Kita {
    &:before {
        background-image: url('/assets/images/icons/map/Kita.svg');
    }
  }

  .select-selected.Retail {
    &:before {
        background-image: url('/assets/images/icons/map/Retail.svg');
    }
  }

  .select-selected.Banken {
    &:before {
        background-image: url('/assets/images/icons/map/Banken.svg');
    }
  }

  .select-selected.Parks {
    &:before {
        background-image: url('/assets/images/icons/map/Parks_list.svg');
    }
  }

  .select-selected.Kultur {
    &:before {
        background-image: url('/assets/images/icons/map/Kultur_list.svg');
    }
  }

  .select-selected.Tankstelle {
    &:before {
        background-image: url('/assets/images/icons/map/Tankstelle.svg');
    }
  }
  
  /* Hide the items when the select box is closed: */
  .select-hide {
    display: none;
  }
  
  .select-items div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
  }

    ////////////////////
    &__content {
        display:none;
        padding: 60px;
        // display: flex;
        background-color: white;
        width: 100%;
        box-shadow: 0px 0px 30px #00000029;
        @media (max-width: $bpM) {
           flex-direction: column;
          }
    }

    &__items_left {
        width: 50%;
        @media (max-width: $bpM) {
            width: 100%;
          }
    }

    &__items_right {
        width: 50%;
        @media (max-width: $bpM) {
            width: 100%;
          }
    }

    &__item {
        font: $fontStackMatterRegular;
        font-size: 18px;
        line-height: 32px;
        a {
            position: relative;
            &::before {
                position: absolute;
                right: -24px;
                top: 0;
                background-image: url('/assets/images/icons/icons8-up.svg');
                background-repeat: no-repeat;
                background-size: 17px 17px;
                margin-top: 4px;
                height: 17px;
                width: 17px;
                display: inline-block;
                content: ' ';
                // margin-right: 10px;
            }
        }
    }

  
}


