.section_ausstattung {
    position: relative;
    min-height: 320px;
    width: 100%;
    // margin-top: 40px;
    @media (max-width: $bpXS) {
        margin-top: 80px;
    }

    // h2 {
    //     margin-bottom: 70px;
    // }
    &__headline {
        font-size: 38px;
        position: absolute;
        // left: -380px;
        top: 90px;
        @media (max-width: $bpXS) {
            position: relative;
            top: 0;

        }
    }
}


.timeline_section_ausstattung {
    position: relative;
	list-style: none;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 3px;
    margin-left: 350px;
    margin-right: auto;
    height: 1500px;
    @media (max-width: $bpM) {
        margin-left: 320px;
        margin-right: auto;

    }

    @media (max-width: $bpXS) {
        margin-top: 30px;
        margin-left: 150px;
        margin-right: auto;
    }

    &::before {
        position: absolute;
        top: 0;
        left: 0;
        content: "";
        background-color: black;
        height: 100%;
        width: 3px;
    }

    .h2 {
        font-size: 24px;
        margin-bottom: 0;
        @media (max-width: $bpS) {
            font-size: 20px;
        }
    }
    p {
        font-size: 18px;
        @media (max-width: $bpS) {
            font-size: 16px;
        }
        
    }

    &__002_subtext_wrapper {
        p {
            color: $secondary;
            margin: 0;
        }
    }

    &__004_subtext_wrapper {
        p {
            color: $secondary;
            margin: 0;
        }
    }

    &__001_text, &__003_text, &__005_text, &__007_text,
    &__002_text, &__004_text, &__006_text, &__008_text {
        position: absolute;
        height: 50px;
        width: 500px;
        top: -14px;
        left: 70px;
        // @media (max-width: $bpS) {
        //     width: 250px;
        //     left: 50px;
        // }
        @media (max-width: $bpXS) {
            width: 140px;
            left: 50px;
        }
    }

    &__002_text {
        top: -2px;
    }

    &__001_icon, &__003_icon, &__005_icon, &__007_icon,
    &__002_icon, &__004_icon, &__006_icon, &__008_icon {
        position: absolute;
        bottom: -80px;
        height: 50px;
        width: 100px;
        top: -10px;
        left: -95px;

    }

    &__001, &__002, &__003, &__004, &__005, &__006, &__007, &__008 {
        width: 30px;
        height: 30px;
        background: black;
        position: relative;
        border-radius: 50%;
        margin-left: -12px; 
    }

    &__001 {
        margin-left: 100px;  
        margin-top: 212px;
        margin-left: -12px; 
        @media (max-width: $bpXS) {
            margin-top: 112px;
        }
    }

    &__002 {
        // margin-left: 220px;  
    }

    &__003 {
        // margin-left: 220px;  
        // margin-top: 120px;
    }

    &__004 {
        // margin-right: 100px;  
        // margin-right: 0; 
        // margin-bottom: 250px;
    }

    &__005 {
        // margin-right: 100px;  
        // margin-right: 0; 
        // margin-bottom: 250px;
    }

    &__006 {
        // margin-right: 100px;  
        // margin-right: 0; 
        // margin-bottom: 250px;
    }

    &__007 {
        // margin-right: 100px;  
        // margin-right: 0; 
        // margin-bottom: 250px;
    }

    &__008 {
        margin-right: 100px;  
        margin-right: 0; 
        margin-bottom: 150px;
    }
}