/* Style the tab */
.tabs_maps {
    margin-bottom: 60px;

    .special-maps {
        @media (max-width: $bpM) {
            width: 100%;
            padding-left: 0;
            padding-right: 0;
          }
    }
    &__headline {
        font: $fontStackMatterSemiBold;
        letter-spacing: -0.15px;
        font-size: 38px;
        line-height: 42px;
        margin-bottom: 60px;
    
    }

    .tab {
        display: flex;
        width: 100%;
        padding-bottom: 77px;
        // overflow: hidden;
        // border: 1px solid #ccc;
        // background-color: #f1f1f1;
      }
      
      /* Style the buttons that are used to open the tab content */
      .tab button {
        // background-color: inherit;
        // float: left;
        background-color: white;
        color: $secondary-light;
        border: 1px solid $gray-color-light;
        outline: none;
        cursor: pointer;
        padding: 20px 30px;
        transition: 0.3s;
        text-transform: uppercase;
      }
      
      /* Change background color of buttons on hover */
      .tab button:hover {
        background-color: $gray-color-light;
      }
      
      /* Create an active/current tablink class */
      .tab button.active {
          color: $secondary;
        background-color: $gray-color-light;
      }
      
      /* Style the tab content */
      .tabcontent_map {
        display: block;
        // padding: 6px 12px;
        // border: 1px solid #ccc;
        border-top: none;
      }

      .tabcontent_liste {
        display: none;
        // padding: 6px 12px;
        // border: 1px solid #ccc;
        border-top: none;
      }
}
