<div class="hero_121">
    <img src="{{ params.background_image.src }}" alt="">
    <div class="hero_121__content_wrapper">
        <div class="hero_121__headline">
            <h1 class="h1">Modernes Arbeiten im Oststern </h1>
        </div>
    </div>
</div>