<div class="hero_121">
    <img src="{{ params.background_image.src }}" alt="">
    <div class="hero_121__content_wrapper">
        <div class="hero_121__headline">
            <h1 class="h1">Modernes Arbeiten im Oststern </h1>
        </div>
    </div>
</div>

<div class="hero_121_tablet">
    <img src="{{ params.background_image_tablet.src }}" alt="">
    <div class="hero_121_tablet__content_wrapper">
        <div class="hero_121_tablet__headline">
            <h1 class="h1">Modernes Arbeiten im Oststern </h1>
        </div>
    </div>
</div>

<div class="hero_121_phone">
    <img src="{{ params.background_image_phone.src }}" alt="">
    <div class="hero_121_phone__content_wrapper">
        <div class="hero_121_phone__headline">
            <h1 class="h1">Modernes Arbeiten im Oststern </h1>
        </div>
    </div>
</div>