<!-- <section class="section" style="background-image: url('{{ params.background_image.src }}'); {% if params.background_image.x is defined and params.background_image.y is defined %}background-position: calc({{ params.background_image.x }} * 100%) calc({{ params.background_image.y }} * 100%){% endif %}">
   
</section> -->

<div class="hero_121">
    <img src="{{ params.background_image.src }}" alt="">
    <div class="hero_121__content_wrapper">
        <div class="hero_121__headline">
            <h1 class="h1">Modernes Arbeiten im Oststern </h1>
        </div>
    </div>
</div>