<div class="section_hero_lage">
    <img loading="lazy" src="{{ params.background_image.src }}" alt="image">
</div>
<div class="section_hero_lage_tablet">
    <img loading="lazy" src="{{ params.background_image_tablet.src }}" alt="image">
</div>
<div class="section_hero_lage_mobile">
    <img loading="lazy" src="{{ params.background_image_mobile.src }}" alt="image">
</div>