---
title: OstStern 121
metaDescription: This is a sample meta description. If one is not present in
  your page/post's front matter, the default metadata.desciption will be used
  instead.
date: 2017-01-01T00:00:00.000Z
permalink: /index.html
description: OstStern 123
headline: lorem Headline
bodytext: <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto iste veniam rem odit et corrupti eaque, praesentium in ex suscipit ipsam reiciendis velit adipisci magnam? Sit officiis rerum eos aliquam!</p>
image_src: https://picsum.photos/1000/1800/?random
animalList: 
    [
        "lion",
        "zebra",
        "wolf",
        "dog",
        "gorilla",
        "tapir"
    ]
eleventyNavigation:
  key: OstStern-121
  order: 1
---

</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>

</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>

</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>

</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>

{%- from "system/component.njk" import component -%}
{{ component('section_lage', {
  eyebrow: 'LAGE',
  headline:  'Ostend Community',
  subline:  'Subline mit Fokus Lage…',
  bodytext: 'Das Projekt Oststern liegt mitten im Frankfurter Trendviertel Ostend. Es steht, wie kaum ein anderer Frankfurter Stadtteil, für modernes urbanes Lebensgefühl und steten Wandel. 
Die Nähe zur City, eine gute Verkehrsanbindung und ein vielfältiges Angebot an Gastronomie und Einzelhandel machen das Ostend zu einem lebendigen Stadtteil mit ganz besonderem Charme.',
  logo: './assets//images/logo/Oststern_121_lage_logo.svg',
  background_src: '../assets/images/lage_image.jpg',
  background_src_x: '0.1',
  background_src_y: '1',
  button_style: 'button',
  button_text: 'Mehr erfahren'
}) }}

{% include "section_erreichbarkeit.njk" %}
{% include "section_facts_erreichbarkeit.njk" %}
{% include "section_urbanitaet.njk" %}
{% include "section_erholung.njk" %}
{% include "section_architektur.njk" %}
{% include "section_besonderheiten.njk" %}
{% include "section_facts_121.njk" %}
{% include "section_fassade.njk" %}
{% include "section_slider_001.njk" %}
{% include "section_keyfacts.njk" %}
{% include "section_ausstattung.njk" %}
{% include "section_bueroflaechen.njk" %}
{% include "section_grundrisse.njk" %}
{% include "section_kontakt.njk" %}
{# {% include "maps.njk" %} #}