---
title: OstStern 123
metaDescription: This is a sample meta description. If one is not present in
  your page/post's front matter, the default metadata.desciption will be used
  instead.
date: 2017-01-01T00:00:00.000Z
permalink: /ost_123.html
description: OstStern 123
---
{# Main_teaser #}
{%- from "system/component.njk" import component -%}
{{ component('section_hero_123', {
  background_image: {
    src: '../assets/images/hero/Hero_image_001.jpg'
  },
  background_image_tablet: {
    src: '../assets/images/hero/Hero_image_001_tablet.jpg'
  },
  background_image_phone: {
    src: '../assets/images/hero/Hero_image_001_phone.jpg'
  }
}) }}

{{ component('section_hero_lage', {
  background_image: {
    src: '../assets/images/hero/hero_lage_123.jpg',
    x: '0.1',
    y: '1'
  }
}) }}

{{ component('section_teaser', {
  anker: 'lage',
  eyebrow: 'LAGE',
  headline: 'Urbanes Lebensgefühl im Trendviertel Ostend'
}) }}

{{ component('section_anbindung', {

}) }}

{{ component('section_teaser_image', {
  headline: 'Freizeit und Lebensqualität',
  bodytext: 'Zwischen alten Kontorhäusern, Industriedenkmälern, moderner Architektur und attraktiven Parkanlagen hat sich in weniger als einer Dekade eines der angesagtesten Viertel der Stadt entwickelt. Noch nie war das Ostend so attraktiv wie heute.',
  image1: {
    src: '../assets/images/hafenpark/Mainufer5.jpg',
    caption: 'Restaurant Oosten'
  },
  image2: {
    src: '../assets/images/hafenpark/Mainufer3.jpg',
    caption: 'Mainufer'
  },
  image3: {
    src: '../assets/images/hafenpark/Hafenpark4.jpg',
    caption: 'Hafenpark'
  },
   image1_tablet: {
    src: '../assets/images/hafenpark/Restaurant Oosten_tablet.jpg',
    caption: 'Restaurant Oosten'
  },
  image2_tablet: {
    src: '../assets/images/hafenpark/Mainufer_tablet.jpg',
    caption: 'Mainufer'
  },
  image3_tablet: {
    src: '../assets/images/hafenpark/Hafenpark_tablet.jpg',
    caption: 'Hafenpark'
  },
   image1_phone: {
    src: '../assets/images/hafenpark/Restaurant Oosten_phone.jpg',
    caption: 'Restaurant Oosten'
  },
  image2_phone: {
    src: '../assets/images/hafenpark/Mainufer_phone.jpg',
    caption: 'Mainufer'
  },
  image3_phone: {
    src: '../assets/images/hafenpark/Hafenpark_phone.jpg',
    caption: 'Hafenpark'
  }
}) }}

{{ component('section_teaser', {
  anker: 'projekt',
  eyebrow: 'GEBÄUDE',
  headline: 'Eckgebäude mit ausdrucksstarker Architektur'
}) }}

{{ component('section_image_big', {
  background_image: {
    src: '../assets/images/hero/OstStern 123_1.jpg'
  },
  bodytext: 'Das Gebäude befindet sich an städtebaulich prominenter Stelle am Übergang der Hanauer Landstraße zu einem öffentlichen Platz. Die plastische Ausbildung der Gebäudeecke und der großzügige Eingangsbereich schaffen eine prägnante Adresse. Die Fassade erhält durch ihre räumliche Tiefe eine ausdrucksstarke Wirkung.'
}) }}

{{ component('section_highlights_123', {
  background_image: {
    src: '../assets/images/res/OstStern 123_2.jpg'
  },
  bodytext: 'Das Gebäude befindet sich an städtebaulich prominenter Stelle am Übergang der Hanauer Landstraße zu einem öffentlichen Platz. Die plastische Ausbildung der Gebäudeecke und der großzügige Eingangsbereich schaffen eine prägnante Adresse. Die Fassade erhält durch ihre räumliche Tiefe eine ausdrucksstarke Wirkung.'
}) }}

{{ component('section_image_small', {
  background_image: {
    src: '../assets/images/res/4476_MEIXNER SCHLUETER WENDT_Ost-Stern II_D_210201.jpg'
  },
  bodytext: 'Dachterrasse'
}) }}

{{ component('section_teaser_image', {
  headline: 'Moderne Abseitswelten',
  bodytext: 'Innovative Innenräume, zugeschnitten auf Ihre Bedürfnisse.',
  image1: {
    src: '../assets/images/arbeitswelten/4476_MEIXNER SCHLUETER WENDT_Ost-Stern II_B_210201.jpg',
    caption: 'Bürozone'
  },
  image2: {
    src: '../assets/images/arbeitswelten/4476_MEIXNER SCHLUETER WENDT_Ost-Stern II_E_210201.jpg',
    caption: 'XXX'
  },
  image3: {
    src: '../assets/images/arbeitswelten/4476_MEIXNER SCHLUETER WENDT_Ost-Stern II_A_210201.jpg',
    caption: 'Foyer'
  },
    image1_tablet: {
    src: '../assets/images/arbeitswelten/Konferzenraum_tablet.jpg',
    caption: 'Bürozone'
  },
  image2_tablet: {
    src: '../assets/images/arbeitswelten/Foyer_tablet.jpg',
    caption: 'XXX'
  },
  image3_tablet: {
    src: '../assets/images/arbeitswelten/buerozone_tablet.jpg',
    caption: 'Foyer'
  },
   image1_phone: {
    src: '../assets/images/arbeitswelten/Konferzenraum_phone.jpg',
    caption: 'Bürozone'
  },
  image2_phone: {
    src: '../assets/images/arbeitswelten/Lobby_phone.jpg',
    caption: 'XXX'
  },
  image3_phone: {
    src: '../assets/images/arbeitswelten/Buerozone_phone.jpg',
    caption: 'Foyer'
  }
}) }}

{{ component('section_image_small', {
  background_image: {
    src: '../assets/images/res/4476_MEIXNER SCHLUETER WENDT_Ost-Stern II_C_210201.jpg'
  },
  bodytext: 'Konferzenraum'
}) }}

{{ component('section_teaser', {
  anker: 'keyfacts',
  eyebrow: 'KEYFACTS',
  headline: 'Planung und Fakten'
}) }}

{% include "section_grundrisse.njk" %}
{% include "section_bueroflaechen.njk" %}
{% include "section_ausstattung.njk" %}
{% include "section_kontakt.njk" %}
{# {% include "maps.njk" %} #}