---
title: OstStern 123
metaDescription: This is a sample meta description. If one is not present in
  your page/post's front matter, the default metadata.desciption will be used
  instead.
date: 2017-01-01T00:00:00.000Z
permalink: /ost_123.html
description: OstStern 123
eleventyNavigation:
  key: OstStern-123
  order: 1
---
				<div id="map" class="maps"></div>
				<nav id="filter-group" class="filter-group"></nav>