---
title: OstStern 121
metaDescription: This is a sample meta description. If one is not present in
  your page/post's front matter, the default metadata.desciption will be used
  instead.
date: 2017-01-01T00:00:00.000Z
permalink: /index.html
description: OstStern 123
headline: lorem Headline
bodytext: <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto iste veniam rem odit et corrupti eaque, praesentium in ex suscipit ipsam reiciendis velit adipisci magnam? Sit officiis rerum eos aliquam!</p>
image_src: https://picsum.photos/1000/1800/?random
animalList: 
    [
        "lion",
        "zebra",
        "wolf",
        "dog",
        "gorilla",
        "tapir"
    ]
eleventyNavigation:
  key: OstStern-121
  order: 1
---

</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>

				<div id="map" class="maps"></div>
        <nav id="filter-group" class="filter-group"></nav>

        <div class="row">
	        <div class="column">
          {% include "typography/headline.njk" %}
          {% include "typography/bodytext.njk" %}
          {% include "assets/image.njk" %}
          {% include "animalList.njk" %}
        <div class="wow animate__animated animate__fadeInUp" data-wow-duration="1s" data-wow-offset="10">
          Content to Reveal Here{{ headline }}
          </div>
        <div id="test1" class="section test">
          <div class="row">
            <div class="column small-6 sameHeight">
              <div class="test__content wow animate__animated animate__fadeInUp" data-wow-duration="2s" data-wow-offset="200">
              
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto iste veniam rem odit et corrupti eaque, praesentium in ex suscipit ipsam reiciendis velit adipisci magnam? Sit officiis rerum eos aliquam!</p>
              </div>
            </div>
            <div class="column small-6 sameHeight">
              <div class="test__content wow animate__animated animate__fadeInUp" data-wow-duration="2s" data-wow-offset="200">
                
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto iste veniam rem odit et corrupti eaque, praesentium in ex suscipit ipsam reiciendis velit adipisci magnam? Sit officiis rerum eos aliquam!</p>
              </div>
            </div>
          </div>
        </div>
        <div class="section">
          <div class="row">
            <div class="column">
              <h1 class="section_scrolltrigger">hello world</h1>
            </div>
          </div>
        </div>
     <!-- flickity  -->
     <div class="section">
      <div class="row">
        <div class="column">
          <h1>Flickity - wrapAround</h1>
    
          <!-- Flickity HTML init -->
          <div class="carousel"
            data-flickity='{ "wrapAround": true }'>
            <div class="carousel-cell"></div>
            <div class="carousel-cell"></div>
            <div class="carousel-cell"></div>
            <div class="carousel-cell"></div>
            <div class="carousel-cell"></div>
          </div>
        </div>
      </div>
    </div>
        <div id="test2" class="section test2 wow animate__animated animate__fadeInUp" data-wow-duration="2s" data-wow-offset="200">
          <div class="row">
            <div class="column large-2">
              <img src="https://picsum.photos/1000/1800/?random" alt="">
            </div>
            <div class="column large-9">
              <div class="test2__content">
                <h1>Hello world</h1>
                <h2>hello world 2</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto iste veniam rem odit et corrupti eaque, praesentium in ex suscipit ipsam reiciendis velit adipisci magnam? Sit officiis rerum eos aliquam!</p>
              </div>
            </div>
            <div class="column large-1">
              <img src="https://picsum.photos/1000/1700/?random" alt="">
            </div>
          </div>
        </div>
      <!-- flickity  -->
      <div class="section">
        <div class="row">
          <div class="column">
            <h1>Flickity - wrapAround</h1>
      
            <!-- Flickity HTML init -->
            <div class="carousel"
              data-flickity='{ "wrapAround": true }'>
              <div class="carousel-cell"></div>
              <div class="carousel-cell"></div>
              <div class="carousel-cell"></div>
              <div class="carousel-cell"></div>
              <div class="carousel-cell"></div>
            </div>
          </div>
        </div>
      </div>
     
	</div>
</div>

{# 
<div id="one" class="description panel blue">
    <div><h1>Navigation links with smooth scrolling</h1>
      <p>ScrollTrigger works great with navigation links within the page! Try clicking one of the links above and see how ScrollTrigger stays perfectly synced.</p>
      <div class="scroll-down">Scroll down<div class="arrow"></div></div>
    </div>
  </div>


  <section id="two" class="panel red">
    <p><span class="line line-1"></span>This line's animation will begin when it enters the viewport and finish when its top edge hits the top of the viewport, staying perfectly in sync with the scrollbar because it has <code>scrub:&nbsp;true</code></p>
  </section>


  <section id="three" class="panel orange">
    <p><span class="line line-2"></span>This orange panel gets pinned when its top edge hits the top of the viewport, then the line's animation is linked with the scroll position until it has traveled 100% of the viewport's height (<code>end: "+=100%"</code>), then the orange panel is unpinned and normal scrolling resumes. Padding is added automatically to push the rest of the content down so that it catches up with the scroll when it unpins. You can set <code>pinSpacing: false</code> to prevent that if you prefer.</p>
  </section>


  <section id="four" class="panel purple">
    <p><span class="line line-3"></span>This panel gets pinned in a similar way, and has a more involved animation that's wrapped in a timeline, fading the background color and animating the transforms of the paragraph in addition to the line, all synced with the scroll position perfectly.</p>
  </section>



<section id="five" class="panel gray">
  DONE!
</section>





<div class="naviagtion">
  <div><a href="#one">Section one</a></div>
  <div><a href="#two">Section two</a></div>
  <div><a href="#three">Section three</a></div>
  <div><a href="#four">Section four</a></div>
  <div><a href="#five">Section five</a></div>
</div> #}

     
