.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 444;
	background-color: transparent;
	color: white;
	svg {
		fill: white;
	}
	a {
		color: white;
	}
	.core_navigation__logo_big {
		display: block;
	}
	.core_navigation__logo_small {
		display: none;
	}
}

.header.headroom--top {
	background-color: transparent;
	color: white;

}
.header.headroom--not-top {
	background-color: white;
	color: black;
	svg {
		fill: black;
	}
	a {
		color: black;
	}
	.core_navigation__logo_small {
		display: block;
	}
	.core_navigation__logo_big {
		display: none;
	}

}

.core_navigation {
	
	// @include customize(theme) {
	// 	background-color: getValue(backgroundLight);
	// 	color: getValue(textDark);
	// }
	
	// background-color: red;
	// color: black;
	opacity: 1;
	width: 100%;
	height: $headerHeight;
	box-shadow: 0px 20px 20px 0px rgba(0,0,0,0.1);

	.column {
        padding-left: 0!important;
        padding-right: 0!important;
    }

	@media (max-width: $bpM) {
		// height: $headerHeightMobile;
	}
	display: block;
	@media (max-width: $bpL) {
		display: none;
	}
	a {
		text-decoration: underline;

		// @include customize(theme) {
		// 	color: getValue(textDark);
		// }
	}

	&__brand {
		// background-color: red;
		display: flex;
		flex-direction: row;
		height: $headerHeight;
		align-items: center;
		img {
			margin: 0;
		}
	}

	&__links_container {
		// background-color: red;
		height: $headerHeight;
		display: flex;
		flex-direction: row;
		align-items: center;
	}

	&__sprungmarken {
		height: $headerHeight;
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		align-items: center;
		a {
			text-decoration: none;
			padding-left: 30px;
			&:hover {
				text-decoration: underline;
			}
		}
	}


}
