.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 444;
	background-color: rgba(255, 255, 255, 0);
	color: white;
	box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0);
	transition: all 300ms linear;
	svg {
		fill: white;
	}
	a {
		color: white;
	}
	.core_navigation__logo_big {
		margin-top: 80px;
		display: block;
	}
	.core_navigation__logo_small {
		display: none;
	}
}

.header.headroom--not-top {
	background-color: rgba(255, 255, 255, 1);
	color: black;
	box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.1);
	transition: all 300ms linear;
	svg {
		fill: black;
	}
	a {
		color: black;
	}
	.button {
		color: $secondary-light;
		&:hover {
			text-decoration: none;
			color: white;
			background: $secondary-light;
		}
	}
	.core_navigation__logo_small {
		display: block;
	}
	.core_navigation__logo_big {
		display: none;
	}
}

.core_navigation {
	opacity: 1;
	width: 100%;
	height: $headerHeight;

	&__nav {
		display: flex;
		justify-content: space-between;
		padding-left: 40px;
		padding-right: 40px;
	}

	display: block;
	@media (max-width: $bpM) {
		display: none;
	}
	a {
		text-decoration: underline;
	}

	&__brand {
		width: 500px;
		display: flex;
		flex-direction: row;
		height: $headerHeight;
		align-items: center;
		img {
			margin: 0;
		}
	}

	&__links_container {
		height: $headerHeight;
		display: flex;
		flex-direction: row;
		align-items: center;
	}

	&__sprungmarken {
		height: $headerHeight;
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		align-items: center;
		a {
			font: $fontStackMatterSemiBold;
			text-decoration: none;
			padding-left: 41px;
			&:hover {
				text-decoration: underline;
			}
		}
		a:nth-child(6) {
			padding-left: 2.5em;
		}
		.button--nav {
			font: $fontStackMatterMedium;
			font-size: 13px;
			line-height: 8px;
			color: $secondary-light;
			&:hover {
				text-decoration: none;
				color: white;
				background: $secondary-light;
			}
		}
	}
}
