.intro {
    position: relative;
    width: 100vw;
    overflow: hidden;
    &__background-image {
        height: 100vh;
        width: 100%;
        background-image: url('./images/intro/Oststern_Areal_Header_LP.jpg');
        background-position: left;
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
    }

    &__content_wrapper {
        // background-color: red;
        width: 800px;
        height: 500px;
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
        @media (max-width: $bpM) {
            top: 50%;
            width: 300px;
        }
        @media (max-width: $bpS) {
            width: 300px;
        }
    }

    &__content {
        width: 100%;
        position: relative;
    }

    &__content_headline {
        position: absolute;
        top: 60%;
        right: -10%;
        transform: translate(0, -50%);
        // animation: fadeOutheadline 0.5s ease-out;
        animation: leftFadeHeadline 2s ease-in-out 2s 1 normal forwards;
        @media (max-width: $bpM) {
            display: none;
        }
        @media (max-width: $bpS) {
            display: none;
        }
    }

    &__content_headline_mobile {
        display: none;
        position: absolute;
        // top: 50%;
        // right: -10%;
        // transform: translate(0, -50%);
        left: 20px;
        bottom: 100px;
        // animation: fadeOutheadline 0.5s ease-out;
        animation: fadeOutheadline_left 2s ease-in-out 2s 1 normal forwards;
        @media (max-width: $bpM) {
            left: 20px;
            transform: translateX(20%);
            display: block;
        }
        @media (max-width: $bpS) {
            display: block;
        }
    }

    &__content_logowrapper {
        position: relative;
        // background-color: blue;
        width: 100%;
        height: 280px;
        @media (max-width: $bpM) {
            transform: scale(0.9);
        }
        @media (max-width: $bpS) {
            transform: scale(0.7);
        }
    }

    &__logo_frame {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &__logo_text_oststern {
        position: absolute;
        top: 35%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &__logo_text_offices {
        position: absolute;
        top: 64%;
        left: 47%;
        transform: translate(-50%, -50%);
        animation: offices 2s ease-in-out 2s 1 normal forwards;
        @media (max-width: $bpM) {
            top: 65%;
            left: 41%;
        }
        @media (max-width: $bpS) {
            top: 65%;
            left: 41%;
        }
    }

    &__logo_text_121_123 {
        position: absolute;
        top: 64%;
        left:-800px;
        transform: translate(-50%, -50%);
        animation: ost-121-123 2s ease-in-out 2s 1 normal forwards;
        @media (max-width: $bpM) {
            top: 65%;
        }
        @media (max-width: $bpS) {
            top: 65%;
        }
        
    }

    &__langcie_wrapper {
        position: relative;
        // background-color: blue;
        width: 100%;
        height: 80px;
        // animation: fadeOutheadline 2s ease-in-out 2s 1 normal forwards;
        
    }

    &__langcie_text {
        position: absolute;
        top: 70%;
        left: 50%;
        transform: translate(-50%, -50%);
        @media (max-width: $bpM) {
            top: 50%;
        }
        @media (max-width: $bpS) {
            top: 10%;
        }
    }

    &__content_button_wrapper {

        position: absolute;
        width: 800px;
        bottom: -50%;
    //    background-color: red;
       opacity: 0;
       animation: fadeInbuttons 4s ease-in-out 2s 1 normal forwards;
       left: 50%;
       transform: translate(-50%, 0);
       @media (max-width: $bpM) {
        transform: translate(-50%, 40%);
           width: 300px;
       }
       @media (max-width: $bpS) {
           width: 300px;
       }
    }

    &__content_button {
        width: 100%;
        padding-top: 50px;
        display: flex;
        justify-content: space-between;
        opacity: 1;
        
        .button {
            color: black;
            background-color: white;
            text-transform: uppercase;
            border: none;
            height: 50px;
            font: $fontStackMatterSemiBold;
            font-size: 14px;
            line-height: 19px;
            letter-spacing: 1.4px;

            @media (max-width: $bpM) {
            margin-top: 35px;
            }
            @media (max-width: $bpS) {
            margin-top: 15px;
            }
        }

        @media (max-width: $bpM) {
            width: 100%;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;
        }
        @media (max-width: $bpS) {
            width: 100%;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;
        }
    }

    @keyframes ost-121-123 {
        from {
            left:-800px;
        }
    
        to {
            left: 50%;
        }
      }
    @keyframes offices {
        from {
            left: 47%;
        }
    
        to {
            left:1500px;
        }
      }
    @keyframes leftFadeHeadline {
        from {
            right: -10%;
        }
    
        to {
            right:-1500px;
        }
      }
    @keyframes fadeOutheadline {
        from {
            opacity: 1;
        }
    
        to {
            opacity: 0;
        }
      }
    @keyframes fadeOutheadline_left {
        from {
            left: 20px;
            opacity: 1;
        }
    
        to {
            left: 2000px;
            opacity: 0;
        }
      }
    @keyframes fadeInbuttons {
        from {
            bottom: -1800px;
            opacity: 0;
        }
    
        to {
            bottom: -50%;
            opacity: 1;
        }
      }
}