<img loading="lazy" class="image_big" src="{{ params.background_image.src }}" alt="image">
<div class="section_image_big">
    <div class="row">
        <div class="column medium-8 large-5">
            <div class="section_image_big__content_wrapper">
                <div class="section_image_big__bodytext">
                    <p>{{ params.bodytext }}</p>
                </div>
            </div>
        </div>
    </div>
</div>