<div class="section_image_big">
    <img src="{{ params.background_image.src }}" alt="">
    <div class="row">
        <div class="column large-4">
            <div class="section_image_big__content_wrapper">
                <div class="section_image_big__bodytext">
                    <p>{{ params.bodytext }}</p>
                </div>
            </div>
        </div>
    </div>
</div>