<section id="{{ params.anker }}" class="section_teaser">
    <div class="row">
        <div class="column small-12 medium-8">
            <div class="section_teaser__content_wrapper">
                <div class="section_teaser__eyebrow">
                    <div class="h5">{{ params.eyebrow }}</div>
                </div>
                <div class="section_teaser__headline">
                    <h2 class="h2">{{ params.headline }}</h2>
                </div>
            </div>
        </div>
    </div>
</section>