<div id="lage" class="section section_lage">
  <div class="row">
    <div class="column large-6 sameHeight">
      <div class="section_lage__content_wrapper">
        <div class="section_lage__content_top">
          <h5 class="h5">{{ params.eyebrow }}</h5>
          <h2 class="h1">{{ params.headline }}</h2>
          <h4 class="h4">{{ params.subline }}</h4>
        </div>
        <div class="section_lage__content_bottom">
          <p>
          {{ params.bodytext }}
          </p>
          <div class="{{ params.button_style }}">{{ params.button_text }}</div>
        </div>
      </div>
    </div>
    <div class="column large-6 sameHeight background-primary">
      <div class="section_lage__image_wrapper" style="background-image: url('{{ params.background_src }}'); {% if params.background_src_x is defined and params.background_src_y is defined %}background-position: calc({{ params.background_src_x }} * 100%) calc({{ params.background_src_y }} * 100%){% endif %}">
        <div class="section_lage__logo">
          <img src="{{ params.logo }}" alt="">
        </div>
      </div>
    </div>
  </div>
</div>