<section class="section_anbindung">
    <div class="row">
        <div class="column large-6">
            <div class="section_anbindung__wrapper_left">
                <h3 class="h2">
                    Anbindung
                </h3>
                <p>Die Hanauer Landstraße ist Teil einer historischen Handelsstraße und traditionell sehr gut angebunden. Ob mit dem Auto, den öffentlichen Verkehrsmitteln oder mit dem Fahrrad. Besser zu erreichen ist kaum ein anderer Ort in Frankfurt.</p>
                <img src="../assets/images/res/LCI_210422_Oststern_Frankfurt_Karte_jf.jpg" alt="">
            </div>
            
        </div>
        <div class="column large-6">
            <div class="section_facts_erreichbarkeit">
                <div class="timeline">
                    <div class="timeline__001 animate__animated animate__fadeIn wow" data-wow-duration="1s" data-wow-offset="10" >
                    <div class="timeline__001_text">
                        <div class="h2">
                        19 km
                        </div>
                        <p>Flughafen</p>
                    </div>
                    <div class="timeline__001_icon">
                        <img src="../assets/images/icons/icons8-airport.svg" alt="">           
                    </div>
                    </div>
                    <div class="timeline__002 animate__animated animate__fadeIn wow" data-wow-duration="1s" data-wow-offset="10" >
                    <div class="timeline__002_text">
                        <div class="h2">
                        0,25 km
                        </div>
                        <p>Ostbahnhof</p>
                    </div>
                    <div class="timeline__002_icon">
                        <img src="../assets/images/icons/icons8-train.svg" alt="">
                    </div>
                    </div>
                    <div class="timeline__003 animate__animated animate__fadeIn wow" data-wow-duration="1s" data-wow-offset="10" >
                    <div class="timeline__003_text">
                        <div class="h2">
                        2,2 km
                        </div>
                        <p>Autobahn (A661)</p>
                    </div>
                    <div class="timeline__003_icon">
                        <img src="../assets/images/icons/icons8-highway.svg" alt="">
                    </div>
                    </div>
                    <div class="timeline__004 animate__animated animate__fadeIn wow" data-wow-duration="1s" data-wow-offset="10" >
                    <div class="timeline__004_text">
                        <div class="h2">
                        0,1 km
                        </div>
                        <p>Tram Linie 11</p>
                    </div>
                    <div class="timeline__004_icon">
                        <img src="../assets/images/icons/icons8-tram.svg" alt="">
                    </div>
                    </div>
                </div>
              </div>
              
              
        </div>
    </div>
</section>