---
title: typography
layout: styleguide/typography.njk
metaDescription: This is a sample meta description. If one is not present in
  your page/post's front matter, the default metadata.desciption will be used
  instead.
date: 2017-01-01T00:00:00.000Z
permalink: /styleguide/fundamentals/typography.html
description: typography
---


<div class="row">
    <div class="column large-12">
        <h5 class="h5">FUNDAMENTALS</h5>
        <h1 class="h1">Typography</h1>
    </div>
    <div class="column large-12">
        <h2 class="h2">Typography palette</h2>
        <p>Typography is used to create clear hierarchies, useful organizations, and purposeful alignments that guide users through the product and experience. It is the core structure of any well designed interface.</p>
    </div>
    <div class="column">
        <div class="sg-typography-card">
            <div class="sg-typography-card__text">
                <h1 class="h1">
                    The quick brown fox jumps over the lazy dog
                </h1>
            </div>
            <div class="sg-color-typography__content ">
                46px — h1
            </div>
        </div>
        <div class="sg-typography-card">
            <div class="sg-typography-card__text">
                <h2 class="h2">
                    The quick brown fox jumps over the lazy dog
                </h2>
            </div>
            <div class="sg-color-typography__content ">
                46px — h2
            </div>
        </div>
        <div class="sg-typography-card">
            <div class="sg-typography-card__text">
                <h3 class="h3">
                    The quick brown fox jumps over the lazy dog
                </h1>
            </div>
            <div class="sg-color-typography__content ">
                46px — h3
            </div>
        </div>
        <div class="sg-typography-card">
            <div class="sg-typography-card__text">
                <h4 class="h4">
                    The quick brown fox jumps over the lazy dog
                </h4>
            </div>
            <div class="sg-color-typography__content ">
                46px — h4
            </div>
        </div>
        <div class="sg-typography-card">
            <div class="sg-typography-card__text">
                <h5 class="h5">
                    The quick brown fox jumps over the lazy dog
                </h5>
            </div>
            <div class="sg-color-typography__content ">
                46px — h5
            </div>
        </div>
        <div class="sg-typography-card">
            <div class="sg-typography-card__text">
                <h6 class="h6">
                    The quick brown fox jumps over the lazy dog
                </h6>
            </div>
            <div class="sg-color-typography__content ">
                46px — h6
            </div>
        </div>
    </div>
</div>