			
<div class="sg-navigation">
    <h2 class="h2">
        Styleguide
    </h2>
    <h5 class="h5">
        Fundamentals
    </h5>
    <div class="sg-navigation__items spacing-large">
        <div class="sg-navigation__item">
            <a href="../fundamentals/colors.html">Colors</a>
            <a href="../fundamentals/typography.html">Typogrpahy</a>
            <a href="../fundamentals/grid.html">Grid</a>
        </div>
    </div>
    <h5 class="h5">
        Elements
    </h5>
    <div class="sg-navigation__items">
        <div class="sg-navigation__item">
            <a href="../fundamentals/button.html">Buttons</a>
            <a href="../fundamentals/links.html">Links</a>
        </div>
    </div>
</div>