<section class="section section_teaser_image">
    <div class="row">
        <div class="column large-4">
            <div class="section_teaser_image__content_wrapper">
                <div class="section_teaser_image__headline">
                    <h52 class="h2">{{ params.headline }}</h5>
                </div>
                <div class="section_teaser_image__bodytext">
                  <p>{{ params.bodytext }}</p>
                </div>
                <img src="{{ params.image1.src }}" alt="">
                <p>{{ params.image1.caption }}</p>
            </div>
        </div>
        <div class="column large-4">
            <img src="{{ params.image2.src }}" alt="">
            <p>{{ params.image2.caption }}</p>
        </div>
        <div class="column large-4">
            <img src="{{ params.image3.src }}" alt="">
            <p>{{ params.image3.caption }}</p>
        </div>
    </div>
</section>