<section class="section section_teaser_image">
    <div class="row">
        <div class="column large-4">
            <div class="section_teaser_image__content_wrapper">
                <div class="section_teaser_image__headline">
                    <h5 class="h2">{{ params.headline }}</h5>
                    <div class="section_teaser_image__bodytext">
                        <p>{{ params.bodytext | safe}}</p>
                    </div>
                </div>
                <div class="section_teaser_image__img_wrapper">
                    <img src="{{ params.image1.src }}" alt="">
                    <p>{{ params.image1.caption }}</p>
                </div>
            </div>
        </div>
        <div class="column large-4">
            <div class="section_teaser_image__img">
                <img src="{{ params.image2.src }}" alt="">
                <p>{{ params.image2.caption }}</p>
            </div>
        </div>
        <div class="column large-4">
            <div class="section_teaser_image__img">
                <img class="" src="{{ params.image3.src }}" alt="">
                <p>{{ params.image3.caption }}</p>
            </div>
        </div>
    </div>
</section>

<section class="section section_teaser_image_mobile">
    <div class="row">
        <div class="column medium-7">
            <div class="section_teaser_image_mobile__headline">
                <h5 class="h2">{{ params.headline }}</h5>
                <div class="section_teaser_image_mobile__bodytext">
                    <p>{{ params.bodytext }}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="carousel carousel_tablet"
    data-flickity='{ "freeScroll": false, "cellAlign": "center", "wrapAround": true, "contain": true }'>
        <div class="carousel-cell">
            <img src="{{ params.image1_tablet.src }}" alt="">
            <p>{{ params.image1_tablet.caption }}</p>
        </div>
        <div class="carousel-cell">
            <img src="{{ params.image2_tablet.src }}" alt="">
            <p>{{ params.image2_tablet.caption }}</p>
        </div>
        <div class="carousel-cell">
            <img class="" src="{{ params.image3_tablet.src }}" alt="">
            <p>{{ params.image3_tablet.caption }}</p>
        </div>
    </div>

       <div class="carousel carousel_phone"
    data-flickity='{ "freeScroll": false, "cellAlign": "center", "wrapAround": true, "contain": true }'>
        <div class="carousel-cell">
            <img src="{{ params.image1_phone.src }}" alt="">
            <p>{{ params.image1_phone.caption }}</p>
        </div>
        <div class="carousel-cell">
            <img src="{{ params.image2_phone.src }}" alt="">
            <p>{{ params.image2_phone.caption }}</p>
        </div>
        <div class="carousel-cell">
            <img class="" src="{{ params.image3_phone.src }}" alt="">
            <p>{{ params.image3_phone.caption }}</p>
        </div>
    </div>
</section>