<footer class="footer_121 ">
  <div class="row">
    <div class="column medium-12 large-2">
      <div class="footer_121__logo">
        <img src="./assets/images/logo/Oststern_121.svg" alt="">
      </div>
    </div>
    <div class="column medium-12 large-6">
      <div class="footer_121__link_columns">
        <div class="footer_121__link_column_1">
          <a href="">Intro</a>
          <a href="">Lage</a>
          <a href="">Entwurf</a>
        </div>
        <div class="footer_121__link_column_2">
          <a href="">Keyfacts</a>
          <a href="">Downloads</a>
          <a href="">Kontakt</a>
        </div>
        <div class="footer_121__link_column_3">
          <a href="">Impressum</a>
          <a href="">Datenschutz</a>
        </div>
        <div class="footer_121__link_column_4">
            © Lang & Cie. 
        </div>
      </div>
    </div>
    <div class="column medium-12 large-4 footer_121__colum_last">
      <div class="footer_121__link_image">
        <div class="footer_121__link_logo">
          <img src="./assets/images/logo/Ostern_Logo_123.svg" alt="">
        </div>
        <div class="footer_121__text_link">
          <a href="">Mehr erfahren <img src="./assets/images/icons/icons8-up_right.svg" alt=""></a>
        </div>
      </div>
    </div>
  </div>
</footer>
