<div class="mobile_menu_button">
    <a href="" class="menu-button" id="menuButton">
        <span class="burger-icon"></span>
    </a>
</div>

<div class="mobile_menu">
    <div class="mobile_menu__wrapper">
        <div class="row">
            <div class="column small-12">
                <div class="mobile_menu__logo">
                    {% if title == "OstStern 121" %}
                       <img src="../assets/images/logo/Oststern_121.svg" alt="">
                    {% endif %}
                    {% if title == "OstStern 123" %}
                        <img src="../assets/images/logo/Oststern_123.svg" alt="">
                    {% endif %}
                </div>
            </div>
            <div class="column small-12">
                <div class="mobile_menu__item_wrapper">
                    <div class="mobile_menu__item">
                        <a href="#lage">Lage</a>
                    </div>
                    <div class="mobile_menu__item">
                        <a href="#gebaeude">Objekt</a>
                    </div>
                    <div class="mobile_menu__item">
                        <a href="#keyfacts">Keyfacts</a>
                    </div>
                    <div class="mobile_menu__item">
                        <a href="#download">Downloads</a>
                    </div>
                    <div class="mobile_menu__item">
                        <a href="#kontakt">Kontakt</a>
                    </div>
                    <div class="mobile_menu__item">
                        <a href="../impressum.html">Impressum</a>
                    </div>
                    <div class="mobile_menu__item">
                        <a href="../impressum.html#datenschutz">Datenschutz</a>
                    </div>
                </div>
            </div>

            <div class="column small-12">
                <div class="mobile_menu__button_wrapper">
                    {% if title == "OstStern 121" %}
                            <a href="../ost_123.html" class="button">Zu Oststern 123</a>
                    {% endif %}
                    {% if title == "OstStern 123" %}
                            <a href="../ost_121.html" class="button">Zu Oststern 121</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>