<div class="mobile_menu_button">
    <a href="" class="menu-button" id="menuButton">
        <span class="burger-icon"></span>
    </a>
</div>

<div class="mobile_menu">
    <div class="mobile_menu__wrapper">
        <div class="row">
            <div class="column small-12">
                <div class="mobile_menu__logo">
                    <img src="../assets/images/logo/Oststern_123.svg" alt="">
                </div>
            </div>
            <div class="column small-12">
                <div class="mobile_menu__item_wrapper">
                    <div class="mobile_menu__item">
                        <a href="#lage">Lage</a>
                    </div>
                    <div class="mobile_menu__item">
                        <a href="#entwurf">Objekt</a>
                    </div>
                    <div class="mobile_menu__item">
                        <a href="#keyfacts">Keyfacts</a>
                    </div>
                    <div class="mobile_menu__item">
                        <a href="#downloads">Downloads</a>
                    </div>
                    <div class="mobile_menu__item">
                        <a href="#kontakt">Kontakt</a>
                    </div>
                    <div class="mobile_menu__item">
                        <a href="">Impressum</a>
                    </div>
                    <div class="mobile_menu__item">
                        <a href="">Datenschutz</a>
                    </div>
                </div>
            </div>

            <div class="column small-12">
                <div class="mobile_menu__button_wrapper">
                    <!-- <div class="mobile_menu_buttons"> -->
                        <div class="button">Zu Oststern 123</div>
                    <!-- </div> -->
                </div>
            </div>
        </div>
    </div>
</div>