<div class="section_listenansicht">
  <div class="section_listenansicht__buttons">
    <button class="section_listenansicht__button active section_listenansicht__restaurants" id="defaultOpen">Restaurants</button>
    <button class="section_listenansicht__button section_listenansicht__bars">Bar/Cafe</button>
    <button class="section_listenansicht__button section_listenansicht__hotels">Hotels</button>
    <button class="section_listenansicht__button section_listenansicht__fitness">Fitness</button>
    <button class="section_listenansicht__button section_listenansicht__kitas">Kita</button>
    <button class="section_listenansicht__button section_listenansicht__retails">Retail</button>
    <button class="section_listenansicht__button section_listenansicht__banken">Banken</button>
    <button class="section_listenansicht__button section_listenansicht__parks">Parks</button>
    <button class="section_listenansicht__button section_listenansicht__kultur">Kultur</button>
    <button class="section_listenansicht__button section_listenansicht__tankstellen">Tankstelle</button>
  </div>
  <div id="Restaurantsansicht" class="section_listenansicht__content tabcontent_list">
    <div class="section_listenansicht__items_left">
      <div class="section_listenansicht__item">
        <a href="http://www.restaurant-frankfurter-kueche.de/" target="_blank">Frankfurter Küche</a>
      </div>
      <div class="section_listenansicht__item">
        <a href="http://www.daslebenistschoen.de/" target="_blank">Das Leben ist Schön</a>
      </div>
      <div class="section_listenansicht__item">
        <a href="http://www.soul-food-factory.com/" target="_blank">Soul Food Factory East</a>
      </div>
      <div class="section_listenansicht__item">
        <a href="http://www.saravini-frankfurt.de/mittagskarte/" target="_blank">Saravini</a>
      </div>
      <div class="section_listenansicht__item">
        <div class="section_listenansicht__nolink">The Tasty Toast</div>
      </div>
      <div class="section_listenansicht__item">
        <a href="https://www.stonesfood.com/" target="_blank">Stones</a>
      </div>
      <div class="section_listenansicht__item">
        <div class="section_listenansicht__nolink">Tawaraya</div>
      </div>
      <div class="section_listenansicht__item">
        <a href="https://www.cocothaifrankfurtammain.de/" target="_blank">Cocothai</a>
      </div>
      <div class="section_listenansicht__item">
        <a href="https://www.urfa-grill-pizzeria.de/" target="_blank">Urfa</a>
      </div>
      <div class="section_listenansicht__item">
        <a href="https://www.aroydee.de/Frankfurt" target="_blank">Aroydee</a>
      </div>
      <div class="section_listenansicht__item">
        <a href="http://www.goldman-restaurant.com/" target="_blank">Goldman</a>
      </div>
      <div class="section_listenansicht__item">
        <a href="https://oosten-frankfurt.com/" target="_blank">Oosten</a>
      </div>
      <div class="section_listenansicht__item">
        <a href="https://www.gref-voelsings.de/" target="_blank">Gref-Völsings</a>
      </div>
      <div class="section_listenansicht__item">
        <a href="https://www.bestworschtintown.de/" target="_blank">Best-Worscht In Town</a>
      </div>
      <div class="section_listenansicht__item">
        <a href="https://order.beifraunanna.de/" target="_blank">Bei Frau Nanna</a>
      </div>
    </div>
    <div class="section_listenansicht__items_right">
      <div class="section_listenansicht__item">
        <a href="http://leuchtendroter.com/" target="_blank">LEUCHTENDROTER</a>
      </div>
      <div class="section_listenansicht__item">
        <a href="https://kahunapokebros.com/" target="_blank">Kahuna Poké Bros.</a>
      </div>
      <div class="section_listenansicht__item">
        <a href="https://bens-burger.business.site/" target="_blank">Ben's Burger</a>
      </div>
      <div class="section_listenansicht__item">
        <a href="http://www.jessejames.eu/" target="_blank">Jesse James</a>
      </div>
      <div class="section_listenansicht__item">
        <a href="https://www.comai.de/" target="_blank">COMAI East - modern viet kitchen</a>
      </div>
      <div class="section_listenansicht__item">
        <a href="http://www.pizzeria-mille-lire.de/" target="_blank">Pizzeria Mille Lire</a>
      </div>
      <div class="section_listenansicht__item">
        <a href="http://www.coffee-fellows-ostend.de/" target="_blank">Coffee Fellows</a>
      </div>
    </div>
  </div>
  <div id="Barsansicht" class="section_listenansicht__content tabcontent_list">
    <div class="section_listenansicht__items_left">
      <div class="section_listenansicht__item">
        <a href="http://www.restaurant-frankfurter-kueche.de/" target="_blank">Frankfurter Küche222</a>
      </div>
      <div class="section_listenansicht__item">
        <a href="http://www.daslebenistschoen.de/" target="_blank">Das Leben ist Schön</a>
      </div>
      <div class="section_listenansicht__item">
        <a href="http://www.soul-food-factory.com/" target="_blank">Soul Food Factory East</a>
      </div>
      <div class="section_listenansicht__item">
        <a href="http://www.saravini-frankfurt.de/mittagskarte/" target="_blank">Saravini</a>
      </div>
      <div class="section_listenansicht__item">
        <div class="section_listenansicht__nolink">The Tasty Toast</div>
      </div>
      <div class="section_listenansicht__item">
        <a href="https://www.stonesfood.com/" target="_blank">Stones</a>
      </div>
      <div class="section_listenansicht__item">
        <div class="section_listenansicht__nolink">Tawaraya</div>
      </div>
      <div class="section_listenansicht__item">
        <a href="https://www.cocothaifrankfurtammain.de/" target="_blank">Cocothai</a>
      </div>
      <div class="section_listenansicht__item">
        <a href="https://www.urfa-grill-pizzeria.de/" target="_blank">Urfa</a>
      </div>
      <div class="section_listenansicht__item">
        <a href="https://www.aroydee.de/Frankfurt" target="_blank">Aroydee</a>
      </div>
      <div class="section_listenansicht__item">
        <a href="http://www.goldman-restaurant.com/" target="_blank">Goldman</a>
      </div>
      <div class="section_listenansicht__item">
        <a href="https://oosten-frankfurt.com/" target="_blank">Oosten</a>
      </div>
      <div class="section_listenansicht__item">
        <a href="https://www.gref-voelsings.de/" target="_blank">Gref-Völsings</a>
      </div>
      <div class="section_listenansicht__item">
        <a href="https://www.bestworschtintown.de/" target="_blank">Best-Worscht In Town</a>
      </div>
      <div class="section_listenansicht__item">
        <a href="https://order.beifraunanna.de/" target="_blank">Bei Frau Nanna</a>
      </div>
    </div>
    <div class="section_listenansicht__items_right">
      <div class="section_listenansicht__item">
        <a href="http://leuchtendroter.com/" target="_blank">LEUCHTENDROTER</a>
      </div>
      <div class="section_listenansicht__item">
        <a href="https://kahunapokebros.com/" target="_blank">Kahuna Poké Bros.</a>
      </div>
      <div class="section_listenansicht__item">
        <a href="https://bens-burger.business.site/" target="_blank">Ben's Burger</a>
      </div>
      <div class="section_listenansicht__item">
        <a href="http://www.jessejames.eu/" target="_blank">Jesse James</a>
      </div>
      <div class="section_listenansicht__item">
        <a href="https://www.comai.de/" target="_blank">COMAI East - modern viet kitchen</a>
      </div>
      <div class="section_listenansicht__item">
        <a href="http://www.pizzeria-mille-lire.de/" target="_blank">Pizzeria Mille Lire</a>
      </div>
      <div class="section_listenansicht__item">
        <a href="http://www.coffee-fellows-ostend.de/" target="_blank">Coffee Fellows</a>
      </div>
    </div>
  </div>
  <div id="Hotelsansicht" class="section_listenansicht__content tabcontent_list">
    <div class="section_listenansicht__items_left">
      <div class="section_listenansicht__item">
        <a href="test" target="_blank">Hotelsansicht</a>
      </div>
      <div class="section_listenansicht__item">
        <div class="section_listenansicht__nolink">test</div>
      </div>
      
    </div>
  </div>
  <div id="Fitnessansicht" class="section_listenansicht__content tabcontent_list">
    <div class="section_listenansicht__items_left">
      <div class="section_listenansicht__item">
        <a href="test" target="_blank">Fitnessansicht</a>
      </div>
      <div class="section_listenansicht__item">
        <div class="section_listenansicht__nolink">test</div>
      </div>
      
    </div>
  </div>
  <div id="Kitasansicht" class="section_listenansicht__content tabcontent_list">
    <div class="section_listenansicht__items_left">
      <div class="section_listenansicht__item">
        <a href="test" target="_blank">Kitasansicht</a>
      </div>
      <div class="section_listenansicht__item">
        <div class="section_listenansicht__nolink">test</div>
      </div>
      
    </div>
  </div>
  <div id="Retailsansicht" class="section_listenansicht__content tabcontent_list">
    <div class="section_listenansicht__items_left">
      <div class="section_listenansicht__item">
        <a href="test" target="_blank">Retailsansicht</a>
      </div>
      <div class="section_listenansicht__item">
        <div class="section_listenansicht__nolink">test</div>
      </div>
      
    </div>
  </div>
  <div id="Bankenansicht" class="section_listenansicht__content tabcontent_list">
    <div class="section_listenansicht__items_left">
      <div class="section_listenansicht__item">
        <a href="test" target="_blank">Bankenansicht</a>
      </div>
      <div class="section_listenansicht__item">
        <div class="section_listenansicht__nolink">test</div>
      </div>
      
    </div>
  </div>
  <div id="Parksansicht" class="section_listenansicht__content tabcontent_list">
    <div class="section_listenansicht__items_left">
      <div class="section_listenansicht__item">
        <a href="test" target="_blank">Parksansicht</a>
      </div>
      <div class="section_listenansicht__item">
        <div class="section_listenansicht__nolink">test</div>
      </div>
      
    </div>
  </div>
  <div id="Kulturansicht" class="section_listenansicht__content tabcontent_list">
    <div class="section_listenansicht__items_left">
      <div class="section_listenansicht__item">
        <a href="test" target="_blank">Kulturansicht</a>
      </div>
      <div class="section_listenansicht__item">
        <div class="section_listenansicht__nolink">test</div>
      </div>
      
    </div>
  </div>
  <div id="Tankstellenansicht" class="section_listenansicht__content tabcontent_list">
    <div class="section_listenansicht__items_left">
      <div class="section_listenansicht__item">
        <a href="test" target="_blank">Tankstellenansicht</a>
      </div>
      <div class="section_listenansicht__item">
        <div class="section_listenansicht__nolink">test</div>
      </div>
      
    </div>
  </div>
</div>