<div class="section section_lage">
  <div class="row">
    <div class="column large-6">
      <div class="section_lage__content_wrapper">
        <div class="section_lage__content_top">
          <div class="h5">Lage</div>
          <div class="h2">Ostend Community</div>
          <p>Subline mit Fokus Lage…</p>
        </div>
        <div class="section_lage__content_bottom">
          <p>
           Das Projekt Oststern liegt mitten im Frankfurter Trendviertel Ostend. Es steht, wie kaum ein anderer Frankfurter Stadtteil, für modernes urbanes Lebensgefühl und steten Wandel. 
Die Nähe zur City, eine gute Verkehrsanbindung und ein vielfältiges Angebot an Gastronomie und Einzelhandel machen das Ostend zu einem lebendigen Stadtteil mit ganz besonderem Charme.
          </p>
          <button>Mehr erfahren</button>
        </div>
      </div>
    </div>
    <div class="column large-6">
      <div class="section_lage__image_wrapper">
        <div class="section_lage__logo">
          <img src="./assets//images/logo/Oststern_121_lage_logo.svg" alt="">
        </div>
      </div>
    </div>
  </div>
</div>