<div class="section_listenansicht_mobile">
  <!-- Surround the select box within a "custom-select" DIV element.
Remember to set the width: -->
<div class="custom-select">
  <select>
    <option value="0">Restaurants</option>
    <option value="1">Restaurants</option>
    <option value="2">Bar/Cafe</option>
    <option value="3">Hotels</option>
    <option value="4">Fitness</option>
    <option value="5">Kita</option>
    <option value="6">Retail</option>
    <option value="7">Banken</option>
    <option value="8">Parks</option>
    <option value="9">Kultur</option>
    <option value="10">Tankstelle</option>
  </select>
</div>

  <div id="Restaurants" class="section_listenansicht_mobile__content tabcontent_list_mobile">
    <div class="section_listenansicht_mobile__items_left">
      <div class="section_listenansicht_mobile__item">
        <a href="http://www.restaurant-frankfurter-kueche.de/" target="_blank">Frankfurter Küche</a>
      </div>
      <div class="section_listenansicht_mobile__item">
        <a href="http://www.daslebenistschoen.de/" target="_blank">Das Leben ist Schön</a>
      </div>
      <div class="section_listenansicht_mobile__item">
        <a href="http://www.soul-food-factory.com/" target="_blank">Soul Food Factory East</a>
      </div>
      <div class="section_listenansicht_mobile__item">
        <a href="http://www.saravini-frankfurt.de/mittagskarte/" target="_blank">Saravini</a>
      </div>
      <div class="section_listenansicht_mobile__item">
        <div class="section_listenansicht_mobile__nolink">The Tasty Toast</div>
      </div>
      <div class="section_listenansicht_mobile__item">
        <a href="https://www.stonesfood.com/" target="_blank">Stones</a>
      </div>
      <div class="section_listenansicht_mobile__item">
        <div class="section_listenansicht_mobile__nolink">Tawaraya</div>
      </div>
      <div class="section_listenansicht_mobile__item">
        <a href="https://www.cocothaifrankfurtammain.de/" target="_blank">Cocothai</a>
      </div>
      <div class="section_listenansicht_mobile__item">
        <a href="https://www.urfa-grill-pizzeria.de/" target="_blank">Urfa</a>
      </div>
      <div class="section_listenansicht_mobile__item">
        <a href="https://www.aroydee.de/Frankfurt" target="_blank">Aroydee</a>
      </div>
      <div class="section_listenansicht_mobile__item">
        <a href="http://www.goldman-restaurant.com/" target="_blank">Goldman</a>
      </div>
      <div class="section_listenansicht_mobile__item">
        <a href="https://oosten-frankfurt.com/" target="_blank">Oosten</a>
      </div>
      <div class="section_listenansicht_mobile__item">
        <a href="https://www.gref-voelsings.de/" target="_blank">Gref-Völsings</a>
      </div>
      <div class="section_listenansicht_mobile__item">
        <a href="https://www.bestworschtintown.de/" target="_blank">Best-Worscht In Town</a>
      </div>
      <div class="section_listenansicht_mobile__item">
        <a href="https://order.beifraunanna.de/" target="_blank">Bei Frau Nanna</a>
      </div>
    </div>
    <div class="section_listenansicht_mobile__items_right">
      <div class="section_listenansicht_mobile__item">
        <a href="http://leuchtendroter.com/" target="_blank">LEUCHTENDROTER</a>
      </div>
      <div class="section_listenansicht_mobile__item">
        <a href="https://kahunapokebros.com/" target="_blank">Kahuna Poké Bros.</a>
      </div>
      <div class="section_listenansicht_mobile__item">
        <a href="https://bens-burger.business.site/" target="_blank">Ben's Burger</a>
      </div>
      <div class="section_listenansicht_mobile__item">
        <a href="http://www.jessejames.eu/" target="_blank">Jesse James</a>
      </div>
      <div class="section_listenansicht_mobile__item">
        <a href="https://www.comai.de/" target="_blank">COMAI East - modern viet kitchen</a>
      </div>
      <div class="section_listenansicht_mobile__item">
        <a href="http://www.pizzeria-mille-lire.de/" target="_blank">Pizzeria Mille Lire</a>
      </div>
      <div class="section_listenansicht_mobile__item">
        <a href="http://www.coffee-fellows-ostend.de/" target="_blank">Coffee Fellows</a>
      </div>
    </div>
  </div>
  <div id="Bar/Cafe" class="section_listenansicht_mobile__content tabcontent_list_mobile">
    <div class="section_listenansicht_mobile__items_left">
      <div class="section_listenansicht_mobile__item">
        <a href="http://www.coffee-fellows-ostend.de/" target="_blank">Coffee Fellows</a>
      </div>
      <div class="section_listenansicht_mobile__item">
        <a href="https://heberer.de/" target="_blank">Wiener Feinbäckerei</a>
      </div>
      <div class="section_listenansicht_mobile__item">
        <a href="http://www.aniis.de/" target="_blank">Aniis</a>
      </div>
      <div class="section_listenansicht_mobile__item">
        <a href="http://www.melia.com/de/lodgings/deutschland/frankfurt/innside-frankfurt-ostend/restaurants.html" target="_blank">Stock Avenue 81</a>
      </div>
      <div class="section_listenansicht_mobile__item">
        <a href="https://www.baeckerei-huck.de/" target="_blank">Bäckerei und Konditorei Huck</a>
      </div>
      <div class="section_listenansicht_mobile__item">
        <a href="http://www.frankfurt-pub.de/" target="_blank">Frankfurt Pub</a>
      </div>
      <div class="section_listenansicht_mobile__item">
        <div class="section_listenansicht_mobile__nolink">Eiscafé Café a Roma</div>
      </div>
      <div class="section_listenansicht_mobile__item">
        <a href="https://www.marmion-bar.de" target="_blank">Marmion Bar</a>
      </div>
    </div>
  </div>
  <div id="Hotels" class="section_listenansicht_mobile__content tabcontent_list_mobile">
    <div class="section_listenansicht_mobile__items_left">
      <div class="section_listenansicht_mobile__item">
        <div class="section_listenansicht_mobile__nolink">25hours</div>
      </div>
      <div class="section_listenansicht_mobile__item">
        <div class="section_listenansicht_mobile__nolink">INNSIDE</div>
      </div>
      <div class="section_listenansicht_mobile__item">
        <div class="section_listenansicht_mobile__nolink">B&B Hotel Frankfurt City-Ost</div>
      </div>
      <div class="section_listenansicht_mobile__item">
        <div class="section_listenansicht_mobile__nolink">MotelOne</div>
      </div>
      <div class="section_listenansicht_mobile__item">
        <div class="section_listenansicht_mobile__nolink">Moxy</div>
      </div>
      <div class="section_listenansicht_mobile__item">
        <div class="section_listenansicht_mobile__nolink">Hampton by Hilton Frankfurt City Centre East</div>
      </div>
      <div class="section_listenansicht_mobile__item">
        <div class="section_listenansicht_mobile__nolink">LINDLEY LINDENBERG</div>
      </div>    
    </div>
  </div>
  <div id="Fitness" class="section_listenansicht_mobile__content tabcontent_list_mobile">
    <div class="section_listenansicht_mobile__items_left">
      <div class="section_listenansicht_mobile__item">
        <div class="section_listenansicht_mobile__nolink">Fitness First</div>
      </div>
      <div class="section_listenansicht_mobile__item">
        <div class="section_listenansicht_mobile__nolink">Fitseveneleven east blck</div>
      </div>
      <div class="section_listenansicht_mobile__item">
        <div class="section_listenansicht_mobile__nolink">Fitseveneleven east pink</div>
      </div>
      <div class="section_listenansicht_mobile__item">
        <div class="section_listenansicht_mobile__nolink">Kieser Training</div>
      </div> 
    </div>
  </div>
  <div id="Kita" class="section_listenansicht_mobile__content tabcontent_list_mobile">
    <div class="section_listenansicht_mobile__items_left">
      <div class="section_listenansicht_mobile__item">
        <div class="section_listenansicht_mobile__nolink">Die Knoppschachtel</div>
      </div>
      <div class="section_listenansicht_mobile__item">
        <div class="section_listenansicht_mobile__nolink">EZB Kita</div>
      </div>
      <div class="section_listenansicht_mobile__item">
        <div class="section_listenansicht_mobile__nolink">Kindergarten d. Evangelisch-Luth.</div>
      </div>
      <div class="section_listenansicht_mobile__item">
        <div class="section_listenansicht_mobile__nolink">FRÖBEL-Kindergarten</div>
      </div>
    </div>
  </div>
  <div id="Retail" class="section_listenansicht_mobile__content tabcontent_list_mobile">
    <div class="section_listenansicht_mobile__items_left">
      <div class="section_listenansicht_mobile__item">
        <div class="section_listenansicht_mobile__nolink">Alnatura Super Natur Markt</div>
      </div>
      <div class="section_listenansicht_mobile__item">
        <div class="section_listenansicht_mobile__nolink">Edeka</div>
      </div>
      <div class="section_listenansicht_mobile__item">
        <div class="section_listenansicht_mobile__nolink">Lidl</div>
      </div>
      <div class="section_listenansicht_mobile__item">
        <div class="section_listenansicht_mobile__nolink">Rewe</div>
      </div>
      <div class="section_listenansicht_mobile__item">
        <div class="section_listenansicht_mobile__nolink">Aldi Süd</div>
      </div>
      <div class="section_listenansicht_mobile__item">
        <div class="section_listenansicht_mobile__nolink">Me.Ta</div>
      </div>      
      <div class="section_listenansicht_mobile__item">
        <div class="section_listenansicht_mobile__nolink">dm</div>
      </div>    
    </div>
  </div>
  <div id="Banken" class="section_listenansicht_mobile__content tabcontent_list_mobile">
    <div class="section_listenansicht_mobile__items_left">
      <div class="section_listenansicht_mobile__item">
        <div class="section_listenansicht_mobile__nolink">Frankfurter Sparkasse</div>
      </div>
      <div class="section_listenansicht_mobile__item">
        <div class="section_listenansicht_mobile__nolink">Europäische Zentralbank (EZB)</div>
      </div>
    </div>
  </div>
  <div id="Parks" class="section_listenansicht_mobile__content tabcontent_list_mobile">
    <div class="section_listenansicht_mobile__items_left">
      <div class="section_listenansicht_mobile__item">
        <div class="section_listenansicht_mobile__nolink">Hafenpark</div>
      </div>
      <div class="section_listenansicht_mobile__item">
        <div class="section_listenansicht_mobile__nolink">Schwedler See</div>
      </div>
      
    </div>
  </div>
  <div id="Kultur" class="section_listenansicht_mobile__content tabcontent_list_mobile">
    <div class="section_listenansicht_mobile__items_left">
      <div class="section_listenansicht_mobile__item">
        <div class="section_listenansicht_mobile__nolink">Fritz-Rémond-Theater</div>
      </div>
      <div class="section_listenansicht_mobile__item">
        <div class="section_listenansicht_mobile__nolink">Romanfabrik</div>
      </div>
      <div class="section_listenansicht_mobile__item">
        <div class="section_listenansicht_mobile__nolink">Kunstverein Familie Montez</div>
      </div>
      <div class="section_listenansicht_mobile__item">
        <div class="section_listenansicht_mobile__nolink">Union Halle</div>
      </div>
    </div>
  </div>
  <div id="Tankstelle" class="section_listenansicht_mobile__content tabcontent_list_mobile">
    <div class="section_listenansicht_mobile__items_left">
      <div class="section_listenansicht_mobile__item">
        <div class="section_listenansicht_mobile__nolink">Tankstelle Esso</div>
      </div>
      
    </div>
  </div>
</div>