<div class="section section_grundrisse_123">
  <div class="row">
    <div class="column large-12">
      <div class="h2">
         Grundrisse </br>und Querschnitt
      </div>
    </div>
    <div class="column large-12 special-column-grundriss">
      <div class="carousel  carousel_fade">
        <div class="carousel-cell">
          <img class="carousel-cell-image" src="../assets/images/grundriss_123/Grundrisse_123_EG.jpg" />
        </div>
        <div class="carousel-cell">
          <img class="carousel-cell-image" src="../assets/images/grundriss_123/Grundrisse_123_OG1-V1.jpg" />
        </div>
        <div class="carousel-cell">
          <img class="carousel-cell-image" src="../assets/images/grundriss_123/Grundrisse_123_OG1-V2.jpg" />
        </div>
        <div class="carousel-cell">
          <img class="carousel-cell-image" src="../assets/images/grundriss_123/Grundrisse_123_Schnitt_A.jpg" />
        </div>
        <div class="carousel-cell">
          <img class="carousel-cell-image" src="../assets/images/grundriss_123/Grundrisse_123_Schnitt_B.jpg" />
        </div>
      </div>
  
    </div>
  </div>
</div>