<div class="section_bueroflaechen">
  <div class="section_bueroflaechen__wrapper_background"></div>
  <div class="row">
    <div class="column large-6 background-primary">
      <div class="section_bueroflaechen__box">
        <div class="h2 section_bueroflaechen__intro">
          Mietflächen
        </div>
        <div class="section_bueroflaechen__box_wrapper">
          <div class="section_bueroflaechen__box_left">
            <div class="section_bueroflaechen__box_left_item">
              <div class="">
                EG Nord 1 
              </div>
              <div class="">
                426 qm
              </div>
            </div>
            <div class="section_bueroflaechen__box_left_item">
              <div class="">
                EG Nord 2
              </div>
              <div class="">
                230 qm
              </div>
            </div>
            <div class="section_bueroflaechen__box_left_item">
              <div class="">
                EG Süd
              </div>
              <div class="">
                270 qm
              </div>
            </div>
            <div class="section_bueroflaechen__box_left_item">
              <div class="">
                1. OG Nord
              </div>
              <div class="">
                753 qm
              </div>
            </div>
            <div class="section_bueroflaechen__box_left_item">
              <div class="">
                1. OG Süd
              </div>
              <div class="">
                722 qm
              </div>
            </div>
            <div class="section_bueroflaechen__box_left_item">
              <div class="">
                2. OG
              </div>
              <div class="">
                reserviert
              </div>
            </div>
            <div class="section_bueroflaechen__box_left_item">
              <div class="">
                3. – 6. OG 
              </div>
              <div class="">
                vermietet
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="download" class="column large-6">
      <div class="section_bueroflaechen__box_right">
        <div class="section_bueroflaechen__box_right_wrapper">
          <h2 class="h2">Keyfacts</h2>
          <div class="section_bueroflaechen__box_right_top">
            <div class="section_bueroflaechen__box_right_top_item">
              <p>Adresse:</p>
              <p class="color-secondary">Hanauer Landstraße 121, Frankfurt am Main</p>
            </div>
            <div class="section_bueroflaechen__box_right_top_item">
              <p>Projektentwickler:</p>
              <p class="color-secondary">Lang & Cie. Real Estate AG</p>
            </div>
            <div class="section_bueroflaechen__box_right_top_item">
              <p>Architekt:</p>
              <p class="color-secondary">MEIXNER SCHLÜTER WENDT Planungs GmbH, Frankfurt</p>
            </div>
            <div class="section_bueroflaechen__box_right_top_item">
              <p>Mietfläche:</p>
              <p class="color-secondary">2.401 qm</p>
            </div>
            <div class="section_bueroflaechen__box_right_top_item">
              <p>Geschosse:</p>
              <p class="color-secondary">sechs</p>
            </div>
            <div class="section_bueroflaechen__box_right_top_item">
              <p>Fertigstellung:</p>
              <p class="color-secondary">3. Quartal 2022</p>
            </div>
            <a class="buttonn_download" href="../assets/downloads/210527_Oststern-Praesentation_121_JF.pdf" target="_blank">
              <div class="button_icon">
                <div class="button_icon__icon">
                  <svg xmlns="http://www.w3.org/2000/svg" width="18.367" height="25" viewBox="0 0 18.367 25">
                    <path id="icons8-download" d="M16.184,1a.511.511,0,0,0-.51.51V8.653h1.02V1.51A.51.51,0,0,0,16.184,1Zm.51,7.653v8.466L19.9,13.9a.519.519,0,0,1,.733.733l-4.448,4.432-4.448-4.432a.519.519,0,0,1,.733-.733l3.2,3.221V8.653H7V26H25.367V8.653Z" transform="translate(-7 -1)"/>
                  </svg>
                </div>
                <div class="button_icon__text">
                  Präsentation herunterladen
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>