<div id="kontakt" class="section_kontakt">
  <div class="row">
    <div class="column medium-12 large-4">
    <div class="section_kontakt__ansprache">
      <div class="section_kontakt__intro">
        <h5>KONTAKT</h5>
        <h2 class="h1">Wir haben 
          Ihr Interesse geweckt. 
          Sprechen Sie uns an.</h2>
      </div>
      <div class="section_kontakt__outro">
        <img src="./assets/images/logo/LCI_Logo.svg" alt="">
        <p>
          Lang & Cie. Real Estate AG </br>
          Siesmayerstraße 25 </br>
          60323 Frankfurt
        </p>
      </div> 
    </div>
    </div>

    <div class="column medium-6 large-4 special-column">
      <div class="section_kontakt__kontakt_1">
        <div class="section_kontakt__kontakt_1_image">
          <img src="./assets/images/kontakt_1.jpg" alt="">
        </div>
        <div class="section_kontakt__kontakt_1_content">
          <p>Thomas Wurm</p>
          <p>T 069 7953889-33</p>
          <a href="">twurm@langundcie.de</a>
        </div>
      </div>
      <div class="section_kontakt__kontakt_1_mobile">
        <div class="section_kontakt__kontakt_1_image">
          <img  src="./assets/images/kontakt_1_mobile.png" alt="">
        </div>
        <div class="section_kontakt__kontakt_1_content_mobile">
          <p>Thomas Wurm</p>
          <p>T 069 7953889-33</p>
          <a href="">twurm@langundcie.de</a>
        </div>
      </div>
    </div>

    <div class="column medium-6 large-4 special-column">
      <div class="section_kontakt__kontakt_2">
        <div class="section_kontakt__kontakt_2_image">
          <img  src="./assets/images/kontakt_2.jpg" alt="">
        </div>
        <div class="section_kontakt__kontakt_2_content">
          <p>Nicolas Schneider</p>
          <p>T 069 7953889-22</p>
          <a href="">nschneider@langundcie.de</a>
        </div>
      </div>
      <div class="section_kontakt__kontakt_2_mobile">
        <div class="section_kontakt__kontakt_2_image">
          <img  src="./assets/images/kontakt_2_mobile.png" alt="">
        </div>
        <div class="section_kontakt__kontakt_2_content_mobile">
          <p>Nicolas Schneider</p>
          <p>T 069 7953889-22</p>
          <a href="">nschneider@langundcie.de</a>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="section_kontakt__outro_mobile">
        <img src="./assets/images/logo/LCI_Logo.svg" alt="">
        <p>
          Lang & Cie. Real Estate AG </br>
          Siesmayerstraße 25 </br>
          60323 Frankfurt
        </p>
      </div> 
    </div>

  </div>
</div>
