<div class="section_listenansicht">
  <div class="section_listenansicht__buttons">
    <button class="section_listenansicht__button active">Restaurants</button>
    <button class="section_listenansicht__button">Bar/Cafe</button>
    <button class="section_listenansicht__button">Hotels</button>
    <button class="section_listenansicht__button">Fitness</button>
    <button class="section_listenansicht__button">Kita</button>
    <button class="section_listenansicht__button">Retail</button>
    <button class="section_listenansicht__button">Banken</button>
    <button class="section_listenansicht__button">Parks</button>
    <button class="section_listenansicht__button">Kultur</button>
    <button class="section_listenansicht__button">Tankstelle</button>
  </div>
  <div class="section_listenansicht__content">
    <div class="section_listenansicht__items_left">
      <div class="section_listenansicht__item">
        <a href="">test</a>
      </div>
      <div class="section_listenansicht__item">
        <a href="">test</a>
      </div>
      <div class="section_listenansicht__item">
        <a href="">test</a>
      </div>
      <div class="section_listenansicht__item">
        <a href="">test</a>
      </div>
      <div class="section_listenansicht__item">
        <a href="">test</a>
      </div>
      <div class="section_listenansicht__item">
        <a href="">test</a>
      </div>
      <div class="section_listenansicht__item">
        <a href="">test</a>
      </div>
      <div class="section_listenansicht__item">
        <a href="">test</a>
      </div>
      <div class="section_listenansicht__item">
        <a href="">test</a>
      </div>
      <div class="section_listenansicht__item">
        <a href="">test</a>
      </div>
    </div>
    <div class="section_listenansicht__items_right">
      <div class="section_listenansicht__item">
        <a href="">test</a>
      </div>
      <div class="section_listenansicht__item">
        <a href="">test</a>
      </div>
      <div class="section_listenansicht__item">
        <a href="">test</a>
      </div>
      <div class="section_listenansicht__item">
        <a href="">test</a>
      </div>
      <div class="section_listenansicht__item">
        <a href="">test</a>
      </div>
      <div class="section_listenansicht__item">
        <a href="">test</a>
      </div>
      <div class="section_listenansicht__item">
        <a href="">test</a>
      </div>
      <div class="section_listenansicht__item">
        <a href="">test</a>
      </div>
      <div class="section_listenansicht__item">
        <a href="">test</a>
      </div>
      <div class="section_listenansicht__item">
        <a href="">test</a>
      </div>
    </div>
  </div>
</div>