<div class="section section_grundrisse">
  <div class="row">
    <div class="column large-12">
      <div class="h2">
         Grundrisse </br>und Querschnitt
      </div>
    </div>
    <div class="column large-12 special-column-grundriss">
      <div class="carousel carousel_fade">
        <div class="carousel-cell">
          <img loading="lazy" class="carousel-cell-image" src="../assets/images/grundriss_121/Grundrisse_121_EG.jpg" alt="image"/>
        </div>
        <div class="carousel-cell">
          <img loading="lazy" class="carousel-cell-image" src="../assets/images/grundriss_121/Grundrisse_121_UG.jpg" alt="image"/>
        </div>
        <div class="carousel-cell">
          <img loading="lazy" class="carousel-cell-image" src="../assets/images/grundriss_121/Grundrisse_121_OG_1.jpg" alt="image"/>
        </div>
        <div class="carousel-cell">
          <img loading="lazy" class="carousel-cell-image" src="../assets/images/grundriss_121/Grundrisse_121_OG_2-6.jpg" alt="image"/>
        </div>
        <div class="carousel-cell">
          <img loading="lazy" class="carousel-cell-image" src="../assets/images/grundriss_121/Grundrisse_121_Schnitt.jpg" alt="image"/>
        </div>
      </div>
  
    </div>
  </div>
</div>