<div class="section section_grundrisse">
  <div class="row">
    <div class="column large-push-1 large-10">
    <div class="h2">
      Grundrisse und Querschnitt
      <div class="carousel carousel_fade">
        <div class="carousel-cell">
          <img class="carousel-cell-image" src="../assets/images/res/Gebäude OSW 2_jf.jpg" />
        </div>
        <div class="carousel-cell">
          <img class="carousel-cell-image" src="../assets/images/res/Privater_Garten_im_Innenhof.jpg" />
        </div>
        <div class="carousel-cell">
          <img class="carousel-cell-image" src="https://picsum.photos/720/540/?image=56" />
        </div>
        <div class="carousel-cell">
          <img class="carousel-cell-image" src="https://picsum.photos/800/500/?image=1084" />
        </div>
        <div class="carousel-cell">
          <img class="carousel-cell-image" src="https://picsum.photos/720/540/?image=1080" />
        </div>
      </div>
    </div>
    </div>
  </div>
</div>