<div class="section_slider_001">
  
      <div class="carousel" data-flickity='{ "fullscreen": true }'>
        <div class="carousel-cell section_slider_001__image_1">
          <!-- <img src="./assets/images/Slider_001_slide_1.jpg" alt=""> -->
        </div>
        <div class="carousel-cell section_slider_001__image_2"></div>
        <div class="carousel-cell section_slider_001__image_3"></div>
        <div class="carousel-cell section_slider_001__image_4"></div>
      </div>

</div>