<div id="kontakt" class="section_kontakt">
  <div class="row">
    <div class="column medium-12 large-4 special-column-desktop_kontakt1">
    <div class="section_kontakt__ansprache">
      <div class="section_kontakt__intro">
        <h5>KONTAKT</h5>
        <h2 class="h1">Wir haben 
          Ihr Interesse geweckt. 
          Sprechen Sie uns an.</h2>
      </div>
      <div class="section_kontakt__outro">
        <img src="./assets/images/logo/LCI_Logo.svg" alt="image">
           <p class="section_kontakt__logoname">
          Lang & Cie. Real Estate AG 
        </p>
        <p>
          Siesmayerstraße 25 </br>
          60323 Frankfurt
        </p>
      </div> 
    </div>
    </div>

    <div class="column medium-6 large-4 special-column-desktop">
      <div class="section_kontakt__kontakt_1">
        <div class="section_kontakt__kontakt_1_image">
          <img src="./assets/images/kontakt/Herr_Wurm_blau_zugeschnitten.jpg" alt="image">
        </div>
        <div class="section_kontakt__kontakt_1_content">
          <p>Thomas Wurm</p>
          <p class="section_kontakt__telephone">T 069 7953889-33</p>
          <a href="mailto:twurm@langundcie.de">twurm@langundcie.de</a>
        </div>
      </div>
    </div>

    <div class="column medium-12 large-4 special-column-mobile background-primary">
      <div class="section_kontakt__kontakt_1_mobile">
        <div class="section_kontakt__kontakt_1_image_mobile">
          <img  src="./assets/images/kontakt/Herr_Wurm_blau_mobile.jpg" alt="image">
        </div>
        <div class="section_kontakt__kontakt_1_content_mobile">
          <p>Thomas Wurm</p>
          <p class="section_kontakt__telephone">T 069 7953889-33</p>
          <a href="mailto:twurm@langundcie.de">twurm@langundcie.de</a>
        </div>
      </div>
    </div>

    <div class="column medium-6 large-4 special-column-desktop">
      <div class="section_kontakt__kontakt_2">
        <div class="section_kontakt__kontakt_2_image">
          <img  src="./assets/images/kontakt/Herr_Schneider_blau_zugeschnitten.jpg" alt="image">
        </div>
        <div class="section_kontakt__kontakt_2_content">
          <p>Nicolas Schneider</p>
          <p class="section_kontakt__telephone">T 069 7953889-22</p>
          <a href="mailto:nschneider@langundcie.de">nschneider@langundcie.de</a>
        </div>
      </div>

    </div>

    <div class="column medium-12 large-4 special-column-mobile background-secondary">
      <div class="section_kontakt__kontakt_2_mobile">
        <div class="section_kontakt__kontakt_2_image_mobile">
          <img  src="./assets/images/kontakt/Herr_Schneider_blau_mobile.jpg" alt="image">
        </div>
        <div class="section_kontakt__kontakt_2_content_mobile">
          <p>Nicolas Schneider</p>
          <p class="section_kontakt__telephone">T 069 7953889-22</p>
          <a href="mailto:nschneider@langundcie.de">nschneider@langundcie.de</a>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="section_kontakt__outro_mobile">
        <img src="./assets/images/logo/LCI_Logo.svg" alt="image">
        <p class="section_kontakt__logoname">
          Lang & Cie. Real Estate AG 
        </p>
        <p>
          Siesmayerstraße 25 </br>
          60323 Frankfurt
        </p>
      </div> 
    </div>

  </div>
</div>
