<div class="section section_facts_121">
  <div class="row">
    <div class="column large-6">
      <div class="section_facts_121__content_wrapper">
        <div class="section_facts_121__content_top">
          <div class="h5">Oststern 121</div>
          <div class="h2">Smarte Arbeitswelt statt Autoindustrie </div>
          <p>Hier erwacht das Ostend neu </p>
        </div>
        <div class="section_facts_121__content_bottom">
          <p>
           Das ehemalige „Mercedes-Areal“ im Frankfurter Ostend wird aktuell neu entwickelt und mit einem Nutzungsmix aus Wohn- und Gewerbebauten beplant. Die Innenstadt nahe Lage und gute Verkehrsanbindung sowie die im Quartier vorhandenen Geschäfte machen das Ostend zu einem vielschichtigen und lebendigen Stadtteil mit ganz besonderem Charme.
          </p>
          <button>Zu den Renderings</button>
        </div>
      </div>
    </div>
    <div class="column large-6">
      <div class="section_facts_121__image_wrapper">
      </div>
    </div>
  </div>
</div>