<div class="section_listenansicht">
  <div class="section_listenansicht__buttons">
    <button class="section_listenansicht__button active section_listenansicht__restaurants" id="defaultOpen">Restaurants</button>
    <button class="section_listenansicht__button section_listenansicht__bars">Bar/Cafe</button>
    <button class="section_listenansicht__button section_listenansicht__hotels">Hotels</button>
    <button class="section_listenansicht__button section_listenansicht__fitness">Fitness</button>
    <button class="section_listenansicht__button section_listenansicht__kitas">Kita</button>
    <button class="section_listenansicht__button section_listenansicht__retails">Retail</button>
    <button class="section_listenansicht__button section_listenansicht__banken">Banken</button>
    <button class="section_listenansicht__button section_listenansicht__parks">Parks</button>
    <button class="section_listenansicht__button section_listenansicht__kultur">Kultur</button>
    <button class="section_listenansicht__button section_listenansicht__tankstellen">Tankstelle</button>
  </div>
  <div id="Restaurantsansicht" class="section_listenansicht__content tabcontent_list">
    <div class="section_listenansicht__items_left">
      <div class="section_listenansicht__item">
        <a href="http://www.restaurant-frankfurter-kueche.de/" rel="noopener" target="_blank">Frankfurter Küche</a>
      </div>
      <div class="section_listenansicht__item">
        <a href="http://www.daslebenistschoen.de/" rel="noopener" target="_blank">Das Leben ist Schön</a>
      </div>
      <div class="section_listenansicht__item">
        <a href="http://www.soul-food-factory.com/" rel="noopener" target="_blank">Soul Food Factory East</a>
      </div>
      <div class="section_listenansicht__item">
        <a href="http://www.saravini-frankfurt.de/mittagskarte/" rel="noopener" target="_blank">Saravini</a>
      </div>
      <div class="section_listenansicht__item">
        <div class="section_listenansicht__nolink">The Tasty Toast</div>
      </div>
      <div class="section_listenansicht__item">
        <a href="https://www.stonesfood.com/" rel="noopener" target="_blank">Stones</a>
      </div>
      <div class="section_listenansicht__item">
        <div class="section_listenansicht__nolink">Tawaraya</div>
      </div>
      <div class="section_listenansicht__item">
        <a href="https://www.cocothaifrankfurtammain.de/" rel="noopener" target="_blank">Cocothai</a>
      </div>
      <div class="section_listenansicht__item">
        <a href="https://www.urfa-grill-pizzeria.de/" rel="noopener" target="_blank">Urfa</a>
      </div>
      <div class="section_listenansicht__item">
        <a href="https://www.aroydee.de/Frankfurt" rel="noopener" target="_blank">Aroydee</a>
      </div>
      <div class="section_listenansicht__item">
        <a href="http://www.goldman-restaurant.com/" rel="noopener" target="_blank">Goldman</a>
      </div>
      <div class="section_listenansicht__item">
        <a href="https://oosten-frankfurt.com/" rel="noopener" target="_blank">Oosten</a>
      </div>
      <div class="section_listenansicht__item">
        <a href="https://www.gref-voelsings.de/" rel="noopener" target="_blank">Gref-Völsings</a>
      </div>
      <div class="section_listenansicht__item">
        <a href="https://www.bestworschtintown.de/" rel="noopener" target="_blank">Best-Worscht In Town</a>
      </div>
      <div class="section_listenansicht__item">
        <a href="https://order.beifraunanna.de/" rel="noopener" target="_blank">Bei Frau Nanna</a>
      </div>
    </div>
    <div class="section_listenansicht__items_right">
      <div class="section_listenansicht__item">
        <a href="http://leuchtendroter.com/" rel="noopener" target="_blank">LEUCHTENDROTER</a>
      </div>
      <div class="section_listenansicht__item">
        <a href="https://kahunapokebros.com/" rel="noopener" target="_blank">Kahuna Poké Bros.</a>
      </div>
      <div class="section_listenansicht__item">
        <a href="https://bens-burger.business.site/" rel="noopener" target="_blank">Ben's Burger</a>
      </div>
      <div class="section_listenansicht__item">
        <a href="http://www.jessejames.eu/" rel="noopener" target="_blank">Jesse James</a>
      </div>
      <div class="section_listenansicht__item">
        <a href="https://www.comai.de/" rel="noopener" target="_blank">COMAI East - modern viet kitchen</a>
      </div>
      <div class="section_listenansicht__item">
        <a href="http://www.pizzeria-mille-lire.de/" rel="noopener" target="_blank">Pizzeria Mille Lire</a>
      </div>
      <div class="section_listenansicht__item">
        <a href="http://www.coffee-fellows-ostend.de/" rel="noopener" target="_blank">Coffee Fellows</a>
      </div>
    </div>
  </div>
  <div id="Barsansicht" class="section_listenansicht__content tabcontent_list">
    <div class="section_listenansicht__items_left">
      <div class="section_listenansicht__item">
        <a href="http://www.coffee-fellows-ostend.de/" rel="noopener" target="_blank">Coffee Fellows</a>
      </div>
      <div class="section_listenansicht__item">
        <a href="https://heberer.de/" rel="noopener" target="_blank">Wiener Feinbäckerei</a>
      </div>
      <div class="section_listenansicht__item">
        <a href="http://www.aniis.de/" rel="noopener" target="_blank">Aniis</a>
      </div>
      <div class="section_listenansicht__item">
        <a href="http://www.melia.com/de/lodgings/deutschland/frankfurt/innside-frankfurt-ostend/restaurants.html" rel="noopener" target="_blank">Stock Avenue 81</a>
      </div>
      <div class="section_listenansicht__item">
        <a href="https://www.baeckerei-huck.de/" rel="noopener" target="_blank">Bäckerei und Konditorei Huck</a>
      </div>
      <div class="section_listenansicht__item">
        <a href="http://www.frankfurt-pub.de/" rel="noopener" target="_blank">Frankfurt Pub</a>
      </div>
      <div class="section_listenansicht__item">
        <div class="section_listenansicht__nolink">Eiscafé Café a Roma</div>
      </div>
      <div class="section_listenansicht__item">
        <a href="https://www.marmion-bar.de" rel="noopener" target="_blank">Marmion Bar</a>
      </div>
    </div>
  </div>
  <div id="Hotelsansicht" class="section_listenansicht__content tabcontent_list">
    <div class="section_listenansicht__items_left">
      <div class="section_listenansicht__item">
        <div class="section_listenansicht__nolink">25hours</div>
      </div>
      <div class="section_listenansicht__item">
        <div class="section_listenansicht__nolink">INNSIDE</div>
      </div>
      <div class="section_listenansicht__item">
        <div class="section_listenansicht__nolink">B&B Hotel Frankfurt City-Ost</div>
      </div>
      <div class="section_listenansicht__item">
        <div class="section_listenansicht__nolink">MotelOne</div>
      </div>
      <div class="section_listenansicht__item">
        <div class="section_listenansicht__nolink">Moxy</div>
      </div>
      <div class="section_listenansicht__item">
        <div class="section_listenansicht__nolink">Hampton by Hilton Frankfurt City Centre East</div>
      </div>
      <div class="section_listenansicht__item">
        <div class="section_listenansicht__nolink">LINDLEY LINDENBERG</div>
      </div>    
    </div>
  </div>
  <div id="Fitnessansicht" class="section_listenansicht__content tabcontent_list">
    <div class="section_listenansicht__items_left">
      <div class="section_listenansicht__item">
        <div class="section_listenansicht__nolink">Fitness First</div>
      </div>
      <div class="section_listenansicht__item">
        <div class="section_listenansicht__nolink">Fitseveneleven east blck</div>
      </div>
      <div class="section_listenansicht__item">
        <div class="section_listenansicht__nolink">Fitseveneleven east pink</div>
      </div>
      <div class="section_listenansicht__item">
        <div class="section_listenansicht__nolink">Kieser Training</div>
      </div> 
    </div>
  </div>
  <div id="Kitasansicht" class="section_listenansicht__content tabcontent_list">
    <div class="section_listenansicht__items_left">
      <div class="section_listenansicht__item">
        <div class="section_listenansicht__nolink">Die Knoppschachtel</div>
      </div>
      <div class="section_listenansicht__item">
        <div class="section_listenansicht__nolink">EZB Kita</div>
      </div>
      <div class="section_listenansicht__item">
        <div class="section_listenansicht__nolink">Kindergarten d. Evangelisch-Luth.</div>
      </div>
      <div class="section_listenansicht__item">
        <div class="section_listenansicht__nolink">FRÖBEL-Kindergarten</div>
      </div>
    </div>
  </div>
  <div id="Retailsansicht" class="section_listenansicht__content tabcontent_list">
    <div class="section_listenansicht__items_left">
      <div class="section_listenansicht__item">
        <div class="section_listenansicht__nolink">Alnatura Super Natur Markt</div>
      </div>
      <div class="section_listenansicht__item">
        <div class="section_listenansicht__nolink">Edeka</div>
      </div>
      <div class="section_listenansicht__item">
        <div class="section_listenansicht__nolink">Lidl</div>
      </div>
      <div class="section_listenansicht__item">
        <div class="section_listenansicht__nolink">Rewe</div>
      </div>
      <div class="section_listenansicht__item">
        <div class="section_listenansicht__nolink">Aldi Süd</div>
      </div>
      <div class="section_listenansicht__item">
        <div class="section_listenansicht__nolink">Me.Ta</div>
      </div>      
      <div class="section_listenansicht__item">
        <div class="section_listenansicht__nolink">dm</div>
      </div>    
    </div>
  </div>
  <div id="Bankenansicht" class="section_listenansicht__content tabcontent_list">
    <div class="section_listenansicht__items_left">
      <div class="section_listenansicht__item">
        <div class="section_listenansicht__nolink">Frankfurter Sparkasse</div>
      </div>
      <div class="section_listenansicht__item">
        <div class="section_listenansicht__nolink">Europäische Zentralbank (EZB)</div>
      </div>
    </div>
  </div>
  <div id="Parksansicht" class="section_listenansicht__content tabcontent_list">
    <div class="section_listenansicht__items_left">
      <div class="section_listenansicht__item">
        <div class="section_listenansicht__nolink">Hafenpark</div>
      </div>
      <div class="section_listenansicht__item">
        <div class="section_listenansicht__nolink">Schwedler See</div>
      </div>
      
    </div>
  </div>
  <div id="Kulturansicht" class="section_listenansicht__content tabcontent_list">
    <div class="section_listenansicht__items_left">
      <div class="section_listenansicht__item">
        <div class="section_listenansicht__nolink">Fritz-Rémond-Theater</div>
      </div>
      <div class="section_listenansicht__item">
        <div class="section_listenansicht__nolink">Romanfabrik</div>
      </div>
      <div class="section_listenansicht__item">
        <div class="section_listenansicht__nolink">Kunstverein Familie Montez</div>
      </div>
      <div class="section_listenansicht__item">
        <div class="section_listenansicht__nolink">Union Halle</div>
      </div>
    </div>
  </div>
  <div id="Tankstellenansicht" class="section_listenansicht__content tabcontent_list">
    <div class="section_listenansicht__items_left">
      <div class="section_listenansicht__item">
        <div class="section_listenansicht__nolink">Tankstelle Esso</div>
      </div>
      
    </div>
  </div>
</div>