<div class="section_bueroflaechen">
  <div class="section_bueroflaechen__wrapper_background">
    
  </div>
  <div class="row">
    <div class="column large-6 background-primary">
      <div class="section_bueroflaechen__box">
        <div class="h2 section_bueroflaechen__intro">
          Mietflächen
        </div>
        <div class="section_bueroflaechen__box_wrapper">
          <div class="section_bueroflaechen__box_left">
            <div class="section_bueroflaechen__box_left_item">
              <div class="">
                Erdgeschoss
              </div>
              <div class="">
                519 m<sup>2</sup>
              </div>
            </div>
            <div class="section_bueroflaechen__box_left_item">
              <div class="">
                1. OG
              </div>
              <div class="">
                1.096 m<sup>2</sup>
              </div>
            </div>
            <div class="section_bueroflaechen__box_left_item">
              <div class="">
                2. OG
              </div>
              <div class="">
                1.135 m<sup>2</sup>
              </div>
            </div>
            <div class="section_bueroflaechen__box_left_item">
              <div class="">
                3. OG
              </div>
              <div class="">
                1.135 m<sup>2</sup>
              </div>
            </div>
            <div class="section_bueroflaechen__box_left_item">
              <div class="">
                4. OG
              </div>
              <div class="">
                1.135 m<sup>2</sup>
              </div>
            </div>
            <div class="section_bueroflaechen__box_left_item">
              <div class="">
                5. OG
              </div>
              <div class="">
                1.135 m<sup>2</sup>
              </div>
            </div>
            <div class="section_bueroflaechen__box_left_item">
              <div class="">
                6. OG
              </div>
              <div class="">
                1.135 m<sup>2</sup>
              </div>
            </div>
            <div class="section_bueroflaechen__box_left_item">
              <div class="">
                Stellplätze
              </div>
              <div class="">
                89 Stück
              </div>
            </div>
          </div>     
        </div>
      </div>
    </div>
    <div class="column large-6">
      <div class="section_bueroflaechen__box_right">
        <div class="section_bueroflaechen__box_right_wrapper">
          <h2 class="h2">Keyfacts</h2>
          <div class="section_bueroflaechen__box_right_top">
            <div class="section_bueroflaechen__box_right_top_item">
              <p>Adresse:</p>
              <p class="color-secondary">Hanauer Landstraße 121, Frankfurt am Main</p>
            </div>
            <div class="section_bueroflaechen__box_right_top_item">
              <p>Projektentwickler:</p>
              <p class="color-secondary">Lang & Cie. Real Estate AG</p>
            </div>
            <div class="section_bueroflaechen__box_right_top_item">
              <p>Architekt:</p>
              <p class="color-secondary">Jo. Franzke Generalplaner, Frankfurt</p>
            </div>
            <div class="section_bueroflaechen__box_right_top_item">
              <p>Mietfläche:</p>
              <p class="color-secondary">7.290 m<sup>2</sup></p>
            </div>
            <div class="section_bueroflaechen__box_right_top_item">
              <p>Geschosse:</p>
              <p class="color-secondary">sieben</p>
            </div>
            <div class="section_bueroflaechen__box_right_top_item">
              <p>Fertigstellung:</p>
              <p class="color-secondary">3. Quartal 2022</p>
            </div>
            <button class="button button-icon">Präsentation herunterladen</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>