<div class="section section_keyfacts">
  <div class="row">
    <div class="column large-6">
      <div class="section_keyfacts__content_wrapper">
        <div class="section_keyfacts__content_top">
          <div class="h5">Keyfacts</div>
          <div class="h2">Daten und Fakten</div>
          <p>Alle wichtigen Informationen 
            im Überblick</p>
        </div>
        <div class="section_keyfacts__content_bottom">
          <p>
            Im folgenden Abschnitt finden Sie alle relevanten Gebäudefakten zur Ausstattung, Grundrisse und Quadraturen.
            Eine zusammenfassende Präsentation steht zum Download bereit.
          </p>
          <button>Präsentation herunterladen</button>
        </div>
      </div>
    </div>
    <div class="column large-6">
      <div class="section_keyfacts__image_wrapper">
      </div>
    </div>
  </div>
</div>