<!-- Tab links -->
<section class="tabs_maps">
  <div class="row">
    <div class="column large-12">
      <div class="tab">
        <button class="tablinks london" id="defaultOpen" >Kartenansicht</button>
        <button class="tablinks paris" >Listenansicht</button>
      </div>
      
      <!-- Tab content -->
      <div id="London" class="tabcontent_map">
        <h3>Maps</h3>
        {% include "maps.njk" %}
      </div>
      
      <div id="Paris" class="tabcontent_liste">
        <h3>Listenansicht</h3>
        <p>Listenansicht</p>
      </div>
    </div>
  </div>
</section>

